/* Splitters Container */
.splittersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--background);  
}

/* Splitters Header */
.splittersHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  border-bottom: 1px solid #eaecf0;
}

.splittersHeader.darkHeader
{
  background: var(--Black, #000);
}
  
/* Splitter Label */
.splitterLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  flex-grow: 1;
  text-align: center;
  font-family: 'Lato' ;
  font-weight: 600;
  font-size: 16px;
  color: #bdc1c6;
  cursor: pointer;
}

.splitterLabel.darkSplitterLabel
{
  color: var(--Neutral-600, #80868B);
}
  
.splitterLabel:hover {
  color: #000000;
}

.splitterLabel.darkSplitterLabel:hover {
  color: var(--White, #FFF);   
}
  
.splitterLabel.activeSplitter {
  color: #000000;
}

.splitterLabel.activeSplitter.darkSplitterLabel
{
  color: var(--White, #FFF);  
}
  
/* Divider for Active Splitter */
.splitterDivider {
  width: 100%;
  height: 2px;
  background: #000000;
  margin-top: 4px;
}
.splitterDivider.darkDivider
{
  background: var(--White, #FFF);
}
  
/* Splitter Content */
.splitterContent {
  height: calc(100% - 39px);
  padding: 16px;
  font-family: 'Lato' ;
  font-size: 14px;
  color: #80868b;
}
  