.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  transition: border 0.2s ease, background-color 0.2s ease;
  white-space: nowrap; 
  /* overflow: hidden; 
  text-overflow: ellipsis; */
}

.button:focus {
  outline: none; 
}

.button:focus-visible {
  outline: none;  
}

.sizeLarge {
  height: 50px;
  border-radius: 12px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px; /* 62.5% */
  letter-spacing: -0.4px;
}

.sizeMedium {
  height: 46px;
  border-radius: 10px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px; /* 71.429% */
  letter-spacing: -0.4px;
}

.sizeSmall {
  height: 36px;
  border-radius: 8px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px; /* 71.429% */
  letter-spacing: -0.4px;
}

.sizeXSmall {
  height: 30px;
  border-radius: 8px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px; /* 71.429% */
  letter-spacing: -0.4px;
}

.typeColorPrimary {
  background-color: var(--Primary-1, #fd55d3);
  color: var(--Grays-White, #FFF);
}

.typeColorSecondary {
  background-color: var(--Primary-3, #ffe6f8);
  color: var(--Primary-1, #fd55d3);
}


.typePrimary {
  background-color: var(--Neutral-800, #2C3131); 
  color: var(--White, #fff);
}

.typeSecondary {
  background-color: var(--Neutral-100, #F1F3F4);
  color: var(--Black, #000);
}

.typeTertiary {
  background-color: var( --background-fill-light-theme-primary);
  border: 1px solid var(--Border-1, #EAECF0);
  color: var(--Black, #000);
}

.stateNormal {
  /* No additional styles for normal state */
}

.stateIconLeft,
.stateIconRight {
  display: flex;
}

.stateIcon {
  justify-content: center;
}

.typeColorPrimary.hover:hover {
  background-color: var(--Primary-2, #FEBBEA);
  color: var(--Primary-1, #fd55d3);

}

.typeColorSecondary.hover:hover {
  background-color: var(--Primary-2, #FEBBEA);
  color: var(--Primary-1, #fd55d3);
}

.typePrimary.hover:hover {
  background: var(--Neutral-700, #5F6368);
  color: var(--White, #fff);
}

.typeSecondary.hover:hover {
  background-color: var(--Neutral-200, #E8EAED);
}

.typeTertiary.hover:hover {
  border: 1px solid var(--Neutral-300, #DADCE0);
  background-color: var(--Neutral-50, #F8F9FA);
}

.typeColorPrimary.disabled {
  background-color: var(--Primary-3, #ffe6f8);
  color: var(--Primary-2, #FEBBEA);
  cursor: not-allowed;
  border-width: 0px;
}

.typeColorSecondary.disabled {
  background-color: var(--Primary-3, #ffe6f8);
  color: var(--Primary-2, #FEBBEA);
  cursor: not-allowed;
  border-width: 0px;
}

.typePrimary.disabled {    
    background: var(--Neutral-100, #F1F3F4);
    color: var(--Neutral-400, #BDC1C6);
}

.typeSecondary.disabled {
  background: var(--Neutral-100, #F1F3F4);
  color: var(--Neutral-400, #BDC1C6);
}

.typeTertiary.disabled {    
    border: 1px solid var(--Border-1, #EAECF0);
    background: var(--Neutral-100, #F1F3F4);
    color: var(--Neutral-400, #BDC1C6);
}

.buttonIcon {
  width: 12px;
  height: 12px;
  color: white;
}

.typeSecondary > .buttonIcon {
  filter: var(--black-icon-filter);
}

.typeTertiary > .buttonIcon {
  filter: var(--black-icon-filter);
}
