.drawerContainer { 
    display: flex;  
    width: var(--full-width);
    padding: 8px 16px 45px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  
    justify-self: center;
    max-height: 75vh;
  
    border-radius: 24px 24px 0px 0px;
    background: var(--White, #FFF); 
  }
    
  .handleArea { 
    display: flex;
    padding: 8px 0px 22px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--White, #FFF);
  }
  
  .handleArea > .handle {
    width: 39px;
    height: 4px;
  
    border-radius: 50px;
    background: #E0E0E0;

    justify-self: center;
  }

  .contentArea
  {
    flex-grow: 1;  
    overflow-x: hidden;
    overflow-y: scroll;  
    padding: 16px;  
    width: var(--second-width);
  }