.popup {
  margin: 0 auto;
  width: calc(var(--full-width));
  min-height: calc(100% - 48px);
  min-width: calc(var(--full-width));
  min-height: calc(100% - 48px);
  overflow-y: auto; // 내부 콘텐츠가 길면 스크롤 가능

  background: white;
  z-index: 10;

  overflow-y: auto;
  /* 내부 스크롤 허용 */
  overscroll-behavior: contain;
}

.header {
  padding: 9px 10px 9px 0;
  display: flex;
  align-items: center;

  .iconBack {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: 14px 0 14px 16px;
    filter: brightness(0) saturate(100%);
    cursor: pointer;
  }

  .title {
    color: var(--Black, #000);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 100% */
    letter-spacing: -0.4px;
  }
}

.main {

  // padding: 10px 16px;
  // position: relative;
  .tabHeaderWrap {
    position: relative;

    .line {
      width: 100%;
      position: absolute;
      bottom: 0;
      border-bottom: solid #F1F3F4 2px;
      z-index: -1;
    }
  }

  .tabHeader {
    padding: 0 16px;
    display: flex;
    align-items: center;

    .tab {
      flex: 1;
      padding-bottom: 14px;

      color: var(--Neutral-600, #80868B);
      text-align: center;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.32px;

      border-bottom: solid #F1F3F4 2px;
      cursor: pointer;
      white-space: nowrap;

      &.active {
        color: var(--Black, #000);
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;

        border-bottom: solid black 2px;
      }
    }
  }



  .contentSection {
    .label {
      margin-top: 25px;
      padding-left: 16px;
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.32px;
    }

    ul.subscriptionList {
      li.item {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;
          gap: 10px;

          img.thumbnail {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
          }

          .infoWrap {
            .name {
              color: var(--Black, #000);
              font-family: Lato;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -0.32px;
            }

            .price {
              margin-top: 12px;
              color: var(--Black, #000);
              font-family: Lato;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: -0.28px;
            }

            .dateExpired {
              margin-top: 2px;
              color: var(--Black, #000);
              font-family: Lato;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: -0.28px;
            }
          }
        }

        .right {
          align-self: flex-start;

          img {
            filter: brightness(0) saturate(100%) invert(92%) sepia(8%) saturate(155%) hue-rotate(173deg) brightness(83%) contrast(91%);
            cursor: pointer;
          }

          .renewal {
            display: flex;
            height: 24px;
            padding: 0px 12px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            border-radius: 999px;
            background: var(--Black, #000);

            color: var(--White, #FFF);
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 142.857% */
            cursor: pointer;
          }

          &.renewalWrap {
            align-self: center;
          }
        }
      }
    }
  }

  .btnSubscription {
    height: 50px;
    width: calc(var(--full-width) - 14px * 2);

    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    /* 150% */
    letter-spacing: -0.4px;
  }
}

.filtersection {
  padding-right: 16px;
  width: 100%;
  cursor: pointer;
  display: flex;
  // align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;

  .label {
    color: var(--Color-Tokens-Text, #0C0C0C);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .optionWrap {
    display: flex;

    justify-content: space-between;

    .label {
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;
      /* 22.4px */
      letter-spacing: 0.2px;
    }
  }

  .icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7448%) hue-rotate(49deg) brightness(91%) contrast(95%);
    width: 12px;
    height: 12px;
  }

  .iconCheck {
    filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7448%) hue-rotate(49deg) brightness(91%) contrast(95%);
    width: 24px;
    height: 24px;
  }

}