.header {
  width: calc(var(--full-width-percent));
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  img {
    box-sizing: content-box;
    cursor: pointer;
  }

  .left {
    display: flex;
    align-items: center;


    .btnBack {
      padding: 10px 0 10px 16px;
      width: 20px;
      height: 20px;
      filter: brightness(0) saturate(100%);
    }

    .title {
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      /* 100% */
      letter-spacing: -0.4px;
    }
  }

  .right {
    .btnAdd {
      filter: brightness(0) saturate(100%);
      padding-right: 16px;
      width: 28px;
      height: 28px;
    }
  }




}

.main {
  margin-top: 15px;
  padding: 0 16px;

  .tabHeaderWrap {
    position: relative;

    .line {
      width: 100%;
      position: absolute;
      bottom: 0;
      border-bottom: solid #F1F3F4 2px;
      z-index: -1;
    }

    .tabHeader {
      display: flex;
      align-items: center;

      .tab {
        flex: 1;
        padding-bottom: 14px;

        color: var(--Neutral-600, #80868B);
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.28px;


        border-bottom: solid #F1F3F4 2px;
        cursor: pointer;
        white-space: nowrap;

        &.active {
          color: var(--Black, #000);
          text-align: center;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.28px;

          border-bottom: solid black 2px;
        }
      }
    }
  }

  .searchWrap {
    margin-top: 15px;

    padding: 9px 12px;
    display: flex;
    align-items: center;

    border-radius: 36px;
    background: var(--Neutral-100, #F1F3F4);

    .iconSearch {
      width: 15px;
      height: 15px;
    }

    input {
      margin-left: 10px;
      width: 100%;

      color: var(--Text-Color-Placeholder, var(--Neutral-700, #5F6368));
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: Lato;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      /* 120% */
      letter-spacing: -0.4px;

      &::placeholder {
        color: var(--Neutral-400, #BDC1C6);
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
      }
    }
  }

  .count {
    margin-top: 14px;

    color: var(--Black, #000);
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .followList {
    margin-top: 22px;

    li.item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 20px;

        .thumbnail {
          width: 54px;
          height: 54px;
          border-radius: 50%;

        }

        .infoWrap {
          .name {
            color: var(--Black, #000);
            font-family: Lato;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.3px;
          }

          .role {
            color: var(--Black, #000);
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.24px;
          }
        }
      }

      .right {
        .follow {
          width: 75px;
          height: 36px;

          border-radius: 8px;
          background: var(--Neutral-800, #2C3131);

          color: var(--White, #FFF);
          font-feature-settings: 'liga' off, 'clig' off;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          /* 142.857% */
          letter-spacing: -0.4px;

          &.active {
            background: var(--Neutral-100, #F1F3F4);

            color: var(--Black, #000);
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            /* 142.857% */
            letter-spacing: -0.4px;
          }
        }
      }
    }

    li.item+li.item {
      margin-top: 14px;
    }
  }
}