.header {

  padding: 21px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    color: var(--Black, #000);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 100% */
    letter-spacing: -0.4px;
  }

  .iconClose {
    width: 24px;
    height: 24px;

    filter: brightness(0) saturate(100%);

    cursor: pointer;
  }
}

.main {
  padding-bottom: 90px;
  box-sizing: content-box;


}

section.characterMainImageWrap {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;

  .characterMainImage {
    // max-height: 516px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: white;
  }

  .infoWrap {
    position: absolute;
    padding: 0 17px;
    width: calc(100% - 34px);
    bottom: 17px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));

    .left {
      display: flex;
      align-items: center;
      gap: 5px;

      .profileMaker {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .name {
        color: var(--base-white, #FFF);
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        /* 80% */
      }
    }

    .right {
      .statistics {
        display: flex;
        align-items: center;
        gap: 6px;

        color: var(--base-white, #FFF);
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        /* 92.308% */

        .commentWrap {
          display: flex;
          align-items: center;
          gap: 2px;
        }

        .viewsWrap {
          display: flex;
          align-items: center;
          gap: 2px;
        }
      }
    }
  }

  .bgGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 85.71%, rgba(0, 0, 0, 0.50) 100%);
  }
}

.metatags {
  padding: 0 16px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .item {
    padding: 10px 15px;
    border-radius: 100px;
    border: 1px solid var(--Border-1, #EAECF0);
    background: var(--Neutral-50, #F8F9FA);
  }
}

.thumbnails {
  margin-top: 15px;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));

  .item {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

section.sessionTab .tabHeader {
  justify-content: flex-start;
  gap: 28px;
}

.tabSection,
.sessionTab {
  margin-top: 15px;

  .tabHeader {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    z-index: 2;
    /* header 높이 */

    .label {
      padding: 10px 7px 14px;
      text-align: center;

      color: var(--Color-Tokens-Text, #0C0C0C);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.28px;

      box-sizing: border-box;
      border-bottom: 2px solid transparent;

      &.active {
        border-bottom: 2px solid var(--Black, #000);
      }
    }


  }

  .tabContent {
    padding: 0 16px;

    .textWrap {
      .label {
        &.descriptionLabel {
          margin-top: 20px;
        }

        margin-top: 17px;
        color: #000;

        font-feature-settings: 'liga' off,
        'clig' off;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      textarea {
        height: auto;
        resize: none;

        width: 100%;
        margin-top: 10px;
        color: var(--Black, #000);
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 16.9px */
        letter-spacing: -0.26px;
      }
    }

  }

  .line {
    position: relative;
    height: 1px;
    top: -1px;
    width: calc(100%);
    background: #DDD4D0;
  }
}

.myNameSection {
  padding: 0 16px;

  .label {
    margin-top: 23px;

    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    & .highlight {
      color: #F75555;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .description {
    margin-top: 2px;
    color: var(--Black, #000);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    /* 21.7px */
  }

  .inputWrap {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 5px;

    .inputName {
      flex: 1;
      padding: 14px 12px;
      border-radius: 10px;
      border: 1px solid #E8EAED;
      background: var(--White, #FFF);
    }

    button.changeNameWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 47px;
      height: 47px;
      background: #040415;

      border-radius: 8px;
    }
  }
}

.myRoleSection {
  padding: 0 16px;
  margin-top: 22px;

  .roleWrap {
    display: flex;
    gap: 10px;

    color: #000;

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    img {
      filter: brightness(0) saturate(100%);
    }
  }

  .recentSetting {
    margin-top: 2px;
  }
}

.relatedCharactersSection {
  margin-top: 22px;

  .label {
    padding: 0 16px;
    margin-top: 10px;
    color: #000;

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  ul.itemWrap {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 14px 2px;

    li.item {
      width: 100%;
      height: calc(100% - 52px);
      position: relative;
      padding-bottom: 52px;

      cursor: pointer;

      .imgThumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .pin {
        position: absolute;
        top: 3px;
        left: 6px;

        cursor: pointer;
      }

      .info {
        position: absolute;
        left: 7px;
        bottom: calc(6px + 52px);
        display: flex;
        align-items: center;
        gap: 6px;

        color: var(--base-white, #FFF);
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;

        img {
          width: 12px;
          height: 12px;
        }

        .likeWrap {
          display: flex;
          align-items: center;
          gap: 2px;
        }

        .viewWrap {
          display: flex;
          align-items: center;
          gap: 2px;
        }
      }

      .titleWrap {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 52px;
        width: 100%;

        .title {
          padding: 8px 26px 13px 8px;
          color: var(--Black, #000);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          /* 21px */
          letter-spacing: 0.14px;

          height: 31px;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          /* 원하는 줄 수 지정 */
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .iconSetting {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          cursor: pointer;

          filter: brightness(0) saturate(100%) invert(73%) sepia(44%) saturate(29%) hue-rotate(173deg) brightness(98%) contrast(90%);
        }
      }
    }
  }
}

button.startNewChat {
  max-width: 1300px;
  height: 50px;
  padding: 14px 20px;

  position: fixed;
  left: 14px;
  bottom: 20px;
  width: calc(100% - 28px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  background: var(--Primary-1, #FD55D3);
  backdrop-filter: blur(0px);

  color: var(--White, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: -0.4px;

  cursor: pointer;



  &.embedded {
    margin-top: 56px;
    position: inherit;
    width: 100%;
    transform: none;
  }
}