.header {
  padding: 19px 16px;
  display: flex;
  align-items: center;

  .backBtnWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .backBtn {
      width: 20px;
      height: 20px;
      cursor: pointer;

      filter: brightness(0) saturate(100%)
    }

  }

  .progressBar {
    margin: 0 54px 0 60px;
    flex: 1;
    border-radius: 5px;
    background: #F1F3F4;
    height: 5px;

    .progressInner {
      border-radius: 5px;
      background: #FD55D3;
      height: 5px;
    }
  }

  .progressNumber {
    color: var(--Primary-1, #FD55D3);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.hidden {
  display: none;
}

.main.hide {
  display: none;
}

.main {
  padding: 0 16px;
  padding-bottom: calc(62px + 40px);

  .uploadThumbnailSection {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    .uploadWrap {
      cursor: pointer;
      width: 90px;
      height: 90px;

      border-radius: 999px;
      border: 1px dashed var(--Neutral-400, #BDC1C6);
      background: var(--White, #FFF);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      gap: 4px;

      img {
        width: 24px;
        height: 24px;
        filter: brightness(0) saturate(100%)
      }

      .thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }



      div.text {
        color: var(--Black, #000);
        text-align: center;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 155%;
        /* 20.15px */
      }
    }

    .thumbnailContainer {
      position: relative;

    }

    .thumbnailWrap {
      cursor: pointer;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: black;

      .thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .iconEditWrap {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 27px;
        height: 27px;
        border-radius: 50%;
        background: var(--Color-Tokens-White, #FEFEFE);
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));

        display: flex;
        align-items: center;
        justify-content: center;

        .iconEdit {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .label {
    margin: 14px 0 8px;

    color: var(--Black, #000);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    /* 21.7px */
  }

  input {
    border-radius: 10px;
    padding: 10px 12px;
    border: 1px solid var(--Neutral-200, #E8EAED);
    background: var(--White, #FFF);

    &:focus {
      background: var(--Neutral-50, #F8F9FA);
      border: 1px solid var(--Primary-1, #FD55D3);
    }

    &.error {
      border-radius: 10px;
      border: 1px solid var(--Primary-2, #FEBBEA);
      background: var(--Primary-4, #FFF5FD);
    }
  }

  // .honorAwardsSection,
  // .personalHistorySection {
    // textarea {
    //   border-radius: 10px;
    //   padding: 10px 12px;
    //   border: 1px solid var(--Neutral-200, #E8EAED);
    //   background: var(--White, #FFF);

    //   &:focus {
    //     background: var(--Neutral-50, #F8F9FA);
    //     border: 1px solid var(--Primary-1, #FD55D3);
    //   }

    //   &.error {
    //     border-radius: 10px;
    //     border: 1px solid var(--Primary-2, #FEBBEA);
    //     background: var(--Primary-4, #FFF5FD);
    //   }
    // }
  // }

  textarea {
    padding: 10px 12px 0;
  }

  input,
  textarea {
    width: calc(100% - 12px * 2);
    scroll-padding: 10px 12px 29px;


    resize: none;
    box-sizing: content-box;
    overflow-y: auto;


    &::placeholder {
      color: var(--Neutral-400, #BDC1C6);
      font-family: Lato;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 24px */
    }
  }

  .textAreaWrap {
    padding-bottom: 29px;

    position: relative;
    border-radius: 10px;
    border: 1px solid var(--Neutral-200, #E8EAED);
    background: var(--White, #FFF);

    &:focus-within {
      background: var(--Neutral-50, #F8F9FA);
      border: 1px solid var(--Primary-1, #FD55D3);
    }

    &.error {
      border-radius: 10px;
      border: 1px solid var(--Primary-2, #FEBBEA);
      background: var(--Primary-4, #FFF5FD);
    }

    textarea {
      height: 151px;
    }

    .textCount {
      position: absolute;
      bottom: 10px;
      left: 12px;
      color: var(--Neutral-500, #9AA0A6);
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      /* 18.6px */
    }
  }

  .introductionSection {}

  .interestSection {}

  .selectWrap {
    margin-bottom: 6px;
    padding: 14px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    &.error {
      border: 1px solid var(--Primary-2, #FEBBEA);
      background: var(--Primary-4, #FFF5FD);
    }

    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--Neutral-200, #E8EAED);
    background: var(--Neutral-50, #F8F9FA);

    .placeholder {
      color: var(--Neutral-400, #BDC1C6);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: Lato;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      /* 120% */
      letter-spacing: -0.4px;
    }

    .iconArrowDown {
      img {
        width: 20px;
        height: 20px;

        filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(3317%) hue-rotate(61deg) brightness(73%) contrast(86%);
      }
    }
  }

  .tagWrap {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;

    .tag {
      height: 36px;
      padding: 10px 18px;

      display: flex;
      align-items: center;
      gap: 8px;

      border-radius: 100px;
      border: 1px solid var(--Border-1, #EAECF0);
      background: var(--Neutral-800, #2C3131);

      .value {
        color: var(--White, #FFF);
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        white-space: nowrap;
        /* 100% */
      }

      .btnRemoveWrap {
        cursor: pointer;
        padding: 5px;
        margin: -5px;

        img {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .portfolioSection {
    margin-top: 14px;

    .labelWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btnPreview {
        color: var(--Black, #000);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 155%;

        cursor: pointer;
        /* 21.7px */
      }
    }

    .uploadArea {
      padding: 16px;
      border-radius: 8px;
      background: var(--Neutral-50, #F8F9FA);

      display: flex;
      align-items: center;
      justify-content: flex-start;

      :global(.swiper-wrapper) {
        display: flex;
        align-items: center;
        overflow: visible;
        /* 필수 */
      }

      :global(.swiper-slide) {
        width: auto !important;
      }

      .thumbnailWrap {
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .uploadWrap {
        cursor: pointer;
        width: 100px;
        height: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 10px;
        border: 1px dashed var(--Neutral-400, #BDC1C6);
        background: var(--White, #FFF);

        img {
          width: 24px;
          height: 24px;
          filter: brightness(0) saturate(100%)
        }

        div.text {
          color: var(--Black, #000);
          text-align: center;
          font-family: Lato;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 155%;
          /* 20.15px */
        }
      }
    }

  }

  .submitBtn {
    padding: 8px 16px;
    position: fixed;
    bottom: 8px;
    width: calc(var(--full-width-percent) - 16px * 2);
    height: 46px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background: var(--Neutral-800, #2C3131);
    cursor: pointer;

    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.4px;
    z-index: 1;
  }
}

.drawer {
  padding: 8px 20px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  .handleArea {
    margin-top: 8px;

    .handleBar {

      width: 39px;
      height: 4px;

      border-radius: 50px;
      background: #E0E0E0;
    }
  }

  .title {
    width: 100%;
    margin-top: 22px;

    color: var(--Black, #000);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .handleContent {
    width: 100%;

    .description {
      width: 100%;
      margin-top: 20px;
      text-align: center;

      color: var(--Neutral-500, #9AA0A6);
      text-align: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      /* 157.143% */
    }

    .tagWrap {
      width: 100%;

      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 6px;

      .tag {
        padding: 10px 18px;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 1px solid var(--Border-1, #EAECF0);
        background: var(--Neutral-50, #F8F9FA);
        cursor: pointer;


        .value {
          color: var(--Neutral-800, #2C3131);
          font-family: Lato;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 12px;
          white-space: nowrap;
          /* 100% */
        }

        &.active {
          background: var(--Neutral-800, #2C3131);

          .value {
            color: var(--White, #FFF);

          }
        }
      }
    }
  }

  .submitBtn {
    position: absolute;
    bottom: 8px;

    width: calc(100% - 20px * 2);
    height: 46px;
    padding: 14px 20px;

    border-radius: 10px;
    background: var(--Neutral-800, #2C3131);

    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.4px;

    cursor: pointer;
  }
}



.uploadPortfolio {
  .handleContent {

    .uploadThumbnailSection {
      margin-top: 22px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .uploadWrap {
        cursor: pointer;
        width: 100px;
        height: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 10px;
        border: 1px dashed var(--Neutral-400, #BDC1C6);
        background: var(--White, #FFF);


        &.error {
          border: 1px solid var(--Primary-2, #FEBBEA);
          background: var(--Primary-4, #FFF5FD);
        }

        img {
          width: 24px;
          height: 24px;
          filter: brightness(0) saturate(100%)
        }

        div.text {
          color: var(--Black, #000);
          text-align: center;
          font-family: Lato;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 155%;
          /* 20.15px */
        }
      }

      .thumbnailContainer {
        position: relative;

      }

      .thumbnailWrap {
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 12px;
        overflow: hidden;
        background: black;

        .thumbnail {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .iconEditWrap {
          position: absolute;
          right: 7px;
          bottom: 7px;

          width: 27px;
          height: 27px;
          border-radius: 50%;
          background: var(--Color-Tokens-White, #FEFEFE);
          filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));

          display: flex;
          align-items: center;
          justify-content: center;

          .iconEdit {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .label {
      margin-top: 12px;
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 155%;

      /* 21.7px */
      .highlight {
        color: var(--Secondary-Red-1, #F75555);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 155%;
      }
    }

    .textAreaWrap {
      margin-top: 8px;
      padding-bottom: 29px;

      position: relative;
      border-radius: 10px;
      border: 1px solid var(--Neutral-200, #E8EAED);
      background: var(--White, #FFF);
      overflow: hidden;

      &:focus-within {
        background: var(--Neutral-50, #F8F9FA);
        border: 1px solid var(--Primary-1, #FD55D3);
      }

      &.error {
        border-radius: 10px;
        border: 1px solid var(--Primary-2, #FEBBEA);
        background: var(--Primary-4, #FFF5FD);
      }

      textarea {
        height: 151px;
        padding: 10px 12px 0;

        color: var(--Neutral-900, #121414);
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 24px */
        /* 24px */
      }

      input,
      textarea {
        width: calc(100% - 12px * 2);
        scroll-padding: 10px 12px 29px;


        resize: none;
        box-sizing: content-box;
        overflow-y: auto;


        &::placeholder {
          color: var(--Neutral-400, #BDC1C6);
          font-family: Lato;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          /* 24px */
        }
      }

      .textCount {
        position: absolute;
        bottom: 10px;
        left: 12px;
        color: var(--Neutral-500, #9AA0A6);
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 155%;
        /* 18.6px */
      }
    }
  }

  .buttonWrap {
    position: absolute;
    bottom: 16px;


    width: calc(100% - 20px * 2);
    height: 46px;

    display: flex;
    align-items: center;
    gap: 8px;

    button {
      cursor: pointer;
    }

    .cancelBtn {
      flex: 1;
      height: 100%;

      color: var(--Neutral-600, #80868B);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: var(--sds-typography-body-font-weight-regular);
      line-height: 100%;
      /* 14px */
      border-radius: 10px;
      background: var(--Neutral-100, #F1F3F4);
    }

    .saveBtn {
      flex: 1;
      height: 100%;

      color: var(--White, #FFF);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      /* 142.857% */
      letter-spacing: -0.4px;

      border-radius: 10px;
      background: var(--Neutral-800, #2C3131);
    }
  }
}

.portfolioPreviewSection {
  padding-bottom: 16px;
  overflow-y: auto;

  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: white;

  header {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 4px;


    .back {
      filter: brightness(0) saturate(100%);
      cursor: pointer;
    }

    .title {
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      /* 100% */
      letter-spacing: -0.4px;
    }
  }

  main {
    padding: 0 16px;

    .countPortfolio {
      margin-top: 26px;
      color: var(--Color-Tokens-Text, #0C0C0C);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.28px;
    }

    .itemList {
      margin-top: 13px;

      .item {
        position: relative;

        .thumbnail {
          width: 100%;
          max-height: 362px;
          object-fit: contain;
          border-radius: 12px;
        }

        .description {
          margin-top: 8px;
          color: var(--Black, #000);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* 19.6px */
        }

        .dateRegistration {
          margin-top: 4px;

          color: var(--Neutral-700, #5F6368);
          font-family: Lato;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* 16.8px */
        }

        .settingWrap {
          position: absolute;
          top: 10px;
          right: 10px;
        }

        img.setting {

          width: 20px;
          height: 20px;
          cursor: pointer;
          filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(430%) hue-rotate(185deg) brightness(93%) contrast(88%);
        }
      }

      .item+.item {
        margin-top: 16px;
      }
    }

  }
}