.header {
  height: 58px;
}

.header,
.main {
  box-sizing: content-box;
  background: white;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.header.headerNoPath {
  position: inherit;
  transform: inherit;
  left: 0;
}

.main.mainNoPath {
  padding-top: 1px;

  .tabHeaderContainer {
    position: relative !important;
    top: inherit !important;
  }


}

.buttonWrap {
  padding: 8px 16px 8px 16px;
  display: flex;
  gap: 6px;
  background: white;
  position: relative;
  z-index: 3;

  button {
    cursor: pointer;
    flex: 1;
    padding: 8px 20px;
    border-radius: 8px;
    outline: 1px solid var(--Border-1, #EAECF0);
    outline-offset: -1px;

    color: var(--Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.4px;
  }
}

.header {
  padding: 0 6px 0 16px;
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  max-width: var(--full-width-percent); //js 변경요소
  top: 0;
  left: 0;
  // left: 50%;
  // transform: translateX(calc(-50%));
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .left {
    display: flex;
    align-items: center;
    gap: 6px;

    .backBtn {
      width: 20px;
      height: 20px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        filter: brightness(0) saturate(100%);
      }
    }

    .selectProfileNameWrap {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;

      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;

        .originalFan {
          box-sizing: border-box;
          height: 19px;
          padding: 0 6px;
          // padding: 4px 6px 5px 6px;

          color: var(--White, #FFF);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.28px;


          border-radius: 4px;

          &.original {
            border: 1px solid var(--Primary-1, #FD55D3);
            background: var(--Primary-1, #FD55D3);
          }

          &.fan {
            border: 1px solid var(--Neutral-500, #9AA0A6);
            background: var(--Neutral-500, #9AA0A6);
          }
        }
      }

      .profileName {
        overflow: hidden;
        color: var(--Color-Tokens-Text, #0C0C0C);
        font-family: Lato;
        text-overflow: ellipsis;
        font-size: 21px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.42px;
      }

      .iconSelect {
        img {
          box-sizing: content-box;
          width: 14px;
          height: 14px;
          filter: brightness(0) saturate(100%)
        }
      }
    }

  }

  .right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .icon {
      padding: 8px;
      box-sizing: content-box;
      cursor: pointer;
    }

    .iconShare {
      width: 24px;
      height: 24px;
      filter: brightness(0) saturate(100%)
    }

    .iconMenu {
      width: 24px;
      height: 24px;
      filter: brightness(0) saturate(100%)
    }

    .iconNotification {
      width: 24px;
      height: 24px;
      filter: brightness(0) saturate(100%)
    }

    .iconSetting {
      width: 24px;
      height: 24px;
      filter: brightness(0) saturate(100%)
    }
  }
}



.main {
  padding-top: 3px;
  padding-bottom: calc(60px + 12px);
  min-height: calc(100% - 58px);



  .profileStatisticsWrap {
    margin: 3px 16px 0;
    display: flex;
    align-items: center;

    gap: 15px;

    &>* {
      flex: 1;
    }

    div.imgProfileWrap {
      flex: 0;
      position: relative;


      .imgProfile {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        // border: 1px solid var(--Border-1, #EAECF0);
        object-fit: cover;
      }

      .iconProfileEditWrap {
        position: absolute;
        bottom: 5px;
        right: 0;
        border-radius: 50%;
        width: 27px;
        height: 27px;

        background: var(--Color-Tokens-White, #FEFEFE);
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));

        display: flex;
        align-items: center;
        justify-content: center;

        .iconProfileEdit {}
      }
    }

    div.itemStatistic {
      .count {
        color: var(--light-text-text-primary, #101010);
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .label {
        margin-top: 4px;
        color: var(--light-text-text-secondary, #8C919E);
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .profileDetail {
    margin: 5px 16px 0;

    .nameWrap {
      display: flex;
      align-items: center;
      gap: 2px;

      .name {
        color: var(--Color-Tokens-Text, #0C0C0C);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.28px;
      }

      .iconCopy {
        filter: brightness(0) saturate(100%);
        width: 16px;
        height: 16px;

      }
    }


    .verify {
      height: 24px;

      color: var(--Primary-1, #FD55D3);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.28px;

      &.decoration {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }

      display: flex;
      align-items: center;
      gap: 2px;

      text-decoration: underline;
      /* 두꺼운 밑줄 */

      .icon {
        padding: 5px;
      }
    }

    .hashTag {
      margin-top: 5px;
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 18.2px */
      letter-spacing: -0.28px;
      white-space: pre-line;
      word-break: break-word;

      &.needShowMore {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* 3줄까지만 표시 */
        -webkit-box-orient: vertical;
        overflow: hidden;
      }


      &.showAll {
        display: block;
      }
    }

    .showMore {
      margin-top: 3px;
      color: var(--Neutral-500, #9AA0A6);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.28px;

      cursor: pointer;
    }

    .buttons {
      margin-top: 6px;
      display: flex;
      align-items: center;
      gap: 6px;

      button {
        height: 36px;
        flex: 1;
        border-radius: 8px;
        border: 1px solid var(--Border-1, #EAECF0);
        background: var(--White, #FFF);

        cursor: pointer;

        color: var(--Black, #000);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
        letter-spacing: -0.4px;

        &.friends {
          color: var(--White, #FFF);
          font-feature-settings: 'liga' off, 'clig' off;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          /* 142.857% */
          letter-spacing: -0.4px;

          border-radius: 8px;
          background: var(--Neutral-800, #2C3131);
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }

    .buttonsOtherPD {
      margin-top: 12px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6px;

      &>* {
        height: 36px;
        cursor: pointer;
      }

      .follow {
        flex: 244;
        border-radius: 8px;
        background: var(--Neutral-800, #2C3131);

        color: var(--White, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
        letter-spacing: -0.4px;
      }

      .gift {
        flex: 80;
        border-radius: 8px;
        border: 1px solid var(--Border-1, #EAECF0);
        background: var(--White, #FFF);
      }
    }

    .buttonsOtherCharacter {
      margin-top: 12px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6px;

      &>* {
        height: 36px;
        cursor: pointer;
      }

      .subscribe {
        flex: 115;
        border-radius: 8px;
        background: var(--Primary-1, #FD55D3);
        /* Inner Button */
        box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px -4px 4px 0px rgba(255, 255, 255, 0.20) inset;

        color: var(--Grays-White, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
        letter-spacing: -0.4px;
      }

      .follow {
        flex: 115;
        border-radius: 8px;
        background: var(--Neutral-800, #2C3131);

        color: var(--Grays-White, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
        letter-spacing: -0.4px;
      }

      .giftWrap {
        flex: 61;

        border-radius: 8px;
        border: 1px solid var(--Border-1, #EAECF0);
        background: var(--White, #FFF);
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 24px;
          height: 24px;
        }
      }

      .chat {
        flex: 61;

        border-radius: 8px;
        border: 1px solid var(--Border-1, #EAECF0);
        background: var(--White, #FFF);

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }


  }

  .tabSection {
    margin-top: 10px;

    .tabHeaderContainer {
      position: sticky;
      background: white;
      z-index: 2;
    }



    .tabContent {
      margin: 10px 0px 0;

      .emptyWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-top: 30px;

        .text {
          text-align: center;

          color: var(--Neutral-400, #BDC1C6);
          text-align: center;
          font-family: Lato;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.3px;
        }
      }

      .pdInfoSection {
        margin-top: -10px;
        // margin-top: 20px;
        padding: 0 16px;

        .label {
          margin-top: 15px;
          color: var(--Black, #000);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 155%;
          /* 21.7px */
        }

        .value {
          margin-top: 5px;
          color: var(--Black, #000);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 155%;
          word-break: break-word;
          white-space: pre-line;
          /* 21.7px */
        }

        .uploadArea {
          padding: 16px;
          border-radius: 8px;
          background: var(--Neutral-50, #F8F9FA);

          display: flex;
          align-items: center;
          justify-content: flex-start;

          :global(.swiper-wrapper) {
            display: flex;
            align-items: center;
            overflow: visible;
            /* 필수 */
          }

          :global(.swiper-slide) {
            width: auto !important;
          }

          .thumbnailWrap {
            cursor: pointer;
            width: 100px;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .uploadWrap {
            cursor: pointer;
            width: 100px;
            height: 100px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;
            border-radius: 10px;
            border: 1px dashed var(--Neutral-400, #BDC1C6);
            background: var(--White, #FFF);

            img {
              width: 24px;
              height: 24px;
              filter: brightness(0) saturate(100%)
            }

            div.text {
              color: var(--Black, #000);
              text-align: center;
              font-family: Lato;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 155%;
              /* 20.15px */
            }
          }
        }

        ul.tags {
          margin-top: 5px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 6px;

          li.tag {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 100px;
            border: 1px solid var(--Border-1, #EAECF0);
            background: var(--Neutral-50, #F8F9FA);

            padding: 10px 18px;
            color: var(--Neutral-800, #2C3131);
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 12px;
            /* 100% */
          }
        }
      }

      ul.itemWrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 14px 2px;

        @media (max-width: 600px) {

          /* 최소 2개 */
          grid-template-columns: repeat(2, 1fr);
        }

        li.item {
          cursor: pointer;
          width: 100%;
          height: calc(100% - 52px);
          position: relative;
          padding-bottom: 52px;
          aspect-ratio: 1 / 1;

          .bgGradientWrap {
            position: absolute;
            top: 0;
            left: 0;

            aspect-ratio: 1 / 1;
            width: 100%;
            // height: 100%;

            .bgGradient {
              width: 100%;
              height: 100%;
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 75.04%, rgba(0, 0, 0, 0.40) 91.73%);
            }
          }


          .imgThumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;

          }

          .pin {
            position: absolute;
            top: 3px;
            left: 6px;

            cursor: pointer;
            filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));
          }

          .info {
            position: absolute;
            left: 7px;
            bottom: calc(6px + 52px);
            display: flex;
            align-items: center;
            gap: 6px;

            color: var(--base-white, #FFF);
            font-family: Lato;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 12px;

            img {
              width: 12px;
              height: 12px;
            }

            .likeWrap {
              display: flex;
              align-items: center;
              gap: 2px;
              filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));
            }

            .viewWrap {
              display: flex;
              align-items: center;
              gap: 2px;
            }
          }

          .titleWrap {
            padding: 8px 0 0 8px;
            box-sizing: border-box;

            position: absolute;
            bottom: 0;
            left: 0;
            height: 52px;
            width: 100%;

            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 6px;

            .left {
              color: var(--Black, #000);
              font-family: Lato;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
              /* 21px */
              letter-spacing: 0.14px;

              display: -webkit-box;
              -webkit-line-clamp: 2;
              /* 원하는 줄 수 지정 */
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .right {
              display: flex;
              align-items: center;
              justify-content: center;
            }





            /* 말줄임(...) 처리 */
            .name {
              white-space: nowrap;
              /* 한 줄로 제한 */
              overflow: hidden;
              /* 넘치는 텍스트 숨김 */
              text-overflow: ellipsis;
            }

            .grade {
              display: inline-block;
              margin-top: 6px;
              padding: 1px 6px 2px;
              border-radius: 4px;

              vertical-align: top; // span일때 유격
              color: var(--White, #FFF);
              font-family: Lato;
              font-size: 10px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -0.2px;
            }

            .original {
              border: 1px solid var(--Primary-1, #FD55D3);
              background: var(--Primary-1, #FD55D3);
            }

            .fan {
              border-radius: 4px;
              border: 1px solid var(--Neutral-500, #9AA0A6);
              background: var(--Neutral-500, #9AA0A6);
            }


            .iconSetting {
              width: 20px;
              height: 20px;

              cursor: pointer;

              filter: brightness(0) saturate(100%) invert(73%) sepia(44%) saturate(29%) hue-rotate(173deg) brightness(98%) contrast(90%);
            }
          }
        }
      }
    }
  }


}

.tabHeaderWrap {
  position: relative;
  background: white;
  height: 38px;
}

.tabHeader {
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  height: 100%;

  .tabItem {
    flex: 1; // 탭이 균등하게 배치되도록 설정
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  /* 실제 텍스트 부분 */
  .labelTab {
    margin: 10px 7px 10px;
    color: var(--Neutral-400, #BDC1C6);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;

    &.active {
      border-bottom: 2px solid var(--Black, #000);
      text-align: center;
      color: var(--Color-Tokens-Text, #0C0C0C);
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: -0.28px;
      box-sizing: border-box;
    }
  }


  /* header 높이 */
  .label {
    padding: 10px 7px 10px;
    text-align: center;

    color: var(--Color-Tokens-Text, #0C0C0C);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;

    box-sizing: border-box;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid var(--Black, #000);
    }
  }

  z-index:2;
}

.line {
  position: absolute;
  height: 1px;
  bottom: -1px;

  width: calc(100%);
  background: #EAECF0;
  z-index: 1;
}

.filter.character {
  .left {
    .textWrap {
      margin-left: 5px;
      padding: 9px 10px;
      border-radius: 4px;
      background: var(--Neutral-100, #F1F3F4);
      cursor: pointer;

      .text {
        color: var(--Neutral-400, #BDC1C6);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        /* 100% */
        letter-spacing: -0.28px;

      }

      &.active {
        background: var(--Primary-1, #FD55D3);

        .text {
          color: var(--White, #FFF);
        }
      }
    }

  }
}

.filter {
  padding: 7px 16px;
  margin-bottom: -10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .iconWrap {
      cursor: pointer;
      padding: 4px 8px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.bg {
        background: var(--Neutral-100, #F1F3F4);
      }

      img {
        filter: brightness(0) saturate(100%) invert(70%) sepia(8%) saturate(241%) hue-rotate(169deg) brightness(88%) contrast(93%);
      }

      &.active {
        img {
          filter: brightness(0) saturate(100%);
        }
      }
    }

    .iconWrap+.iconWrap {
      margin-left: 5px;
    }


    img {
      width: 24px;
      height: 24px;
    }
  }

  .right {

    .filterTypeWrap {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;

      .label {
        color: var(--Color-Tokens-Text, #0C0C0C);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.28px;
      }

      .optionWrap {
        display: flex;
        justify-content: space-between;


        .label {
          color: var(--Black, #000);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 160%;
          /* 22.4px */
          letter-spacing: 0.2px;
        }
      }

      .icon {
        filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7448%) hue-rotate(49deg) brightness(91%) contrast(95%);
        width: 12px;
        height: 12px;
      }

      .iconCheck {
        filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(7448%) hue-rotate(49deg) brightness(91%) contrast(95%);
        width: 24px;
        height: 24px;
      }

    }
  }
}

.characterInfoSection {
  margin-top: -10px;
}

.channelInfoTabSection {
  margin-top: -10px;

  section.characterMainImageWrap {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FD55D3 15.22%, #FDAFA3 150.69%);

    .characterMainImage {
      // max-height: 516px;
      height: 100%;
      width: 100%;
      object-fit: contain;
      background: white;
    }

    .bgGradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 85.71%, rgba(0, 0, 0, 0.50) 100%);
    }

    .infoWrap {
      position: absolute;
      padding: 0 17px;
      width: calc(100% - 34px);
      bottom: 17px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 5px;
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));


        .profileMaker {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        .name {
          color: var(--base-white, #FFF);
          font-family: Lato;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
          /* 80% */
        }
      }

      .right {
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));

        .statistics {
          display: flex;
          align-items: center;
          gap: 6px;

          color: var(--base-white, #FFF);
          font-family: Lato;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
          /* 92.308% */

          .commentWrap {
            display: flex;
            align-items: center;
            gap: 2px;
          }

          .viewsWrap {
            display: flex;
            align-items: center;
            gap: 2px;
          }
        }
      }
    }
  }

  .tagSection {
    margin-top: 15px;

    .metatags {
      padding: 0 16px;
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .item {
        padding: 10px 15px;
        border-radius: 100px;
        border: 1px solid var(--Border-1, #EAECF0);
        background: var(--Neutral-50, #F8F9FA);
      }
    }
  }

  .memberSection {
    margin-top: 15px;
    padding: 0 16px;

    .label {
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 155%;
      /* 21.7px */
    }

    .recruitList {
      margin-top: 16px;

      :global(.swiper-wrapper) {
        display: flex;
        align-items: flex-start;
        overflow: visible;
        /* 필수 */
      }

      :global(.swiper-slide) {
        width: auto !important;
      }

      .item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;

        .circle {
          width: 100%;
          height: 100%;
          position: relative;

          width: 66px;
          height: 66px;

          display: flex;
          align-items: center;
          justify-content: center;

          .bg {
            width: 100%;
            height: 100%;
          }

          .thumbnail {
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            position: absolute;
            top: 6px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            object-fit: cover;
          }

          .grade {
            position: absolute;
            bottom: -2px;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            color: var(--White, #FFF);
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.28px;

            &.original {
              width: 60px;
              height: 19px;
              border: 1px solid var(--Primary-1, #FD55D3);
              background: var(--Primary-1, #FD55D3);
            }

            &.fan {
              width: 34px;
              height: 19px;
              border: 1px solid var(--Neutral-500, #9AA0A6);
              background: var(--Neutral-500, #9AA0A6);
            }
          }
        }

        .label {
          max-width: 66px;

          color: var(--Color-Tokens-Text, #0C0C0C);
          text-align: center;
          text-overflow: ellipsis;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.28px;

          /* 줄 제한 적용 */
          display: -webkit-box;
          -webkit-line-clamp: 2;
          /* 최대 2줄 */
          -webkit-box-orient: vertical;

          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2em;
          /* 줄 높이 설정 */
          max-height: calc(1.2em * 2);
          /* 2줄까지만 표시 */
        }
      }
    }
  }

  .descriptionSection {
    margin-top: 20px;
    padding: 0 16px;

    .label {
      color: #000;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .value {
      margin-top: 10px;
      color: var(--Black, #000);
      font-family: Lato;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 16.9px */
      letter-spacing: -0.26px;
    }
  }
}