.drawer {
  width: var(--full-width);
  left: 50% !important;
  transform: translateX((-50%)) !important;
  border-radius: 24px 24px 0 0;

  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;

  .handleArea {
    margin: 16px auto 22px;
    width: 39px;
    height: 4px;
    border-radius: 50px;
    background: #E0E0E0;

  }

  .title {
    margin: 0 auto;

    color: var(#101010);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .mySharedWrap {
    margin-top: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;



    &>div {
      cursor: pointer;
      box-sizing: border-box;
      width: 89px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--Black, #000);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      /* 142.857% */
      letter-spacing: -0.4px;



      border-radius: 7px;
      border: 1px solid var(--Border-1, #EAECF0);
      background: var(--White, #FFF);

      &.active {
        background: var(--Neutral-800, #2C3131);
        border: none;

        color: var(--White, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
        letter-spacing: -0.4px;
      }
    }
  }


  .content {
    margin-top: 22px;
    border-radius: 12px;
    // border: 1px solid var(--Border-1, #EAECF0);
    // overflow: hidden;

    .profileList {
      border-radius: 12px;
      border: 1px solid var(--Border-1, #EAECF0);
      overflow: auto;
      max-height: 80vh;

      .item+.item {
        border-top: 1px solid var(--Border-1, #EAECF0);
      }

      .item:first {
        // border-top-left-radius: 12px;
        // border-top-right-radius: 12px;
        // border: 1px solid var(--Border-1, #EAECF0);
      }

      .item {
        // border-radius: 12px;
        // border: 1px solid var(--Border-1, #EAECF0);

        padding: 13px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F8F9FA;
        cursor: pointer;

        &.clickable {
          cursor: pointer;
        }

        .left {
          display: flex;
          align-items: center;
          gap: 10px;

          .addIconWrap {
            width: 40px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: var(--Neutral-200, #E8EAED);

            img {
              filter: brightness(0) saturate(100%);

            }
          }

          .imgProfile {
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }

          .nameWrap {
            .grade {
              border-radius: 4px;
              border: 1px solid var(--Primary-1, #FD55D3);
              background: var(--Primary-1, #FD55D3);

              padding: 1px 6px 2px 6px;

              color: var(--White, #FFF);
              font-family: Lato;
              font-size: 10px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -0.2px;
            }

            .name {
              color: var(--Black, #000);
              font-family: Lato;
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -0.3px;
            }
          }
        }

        .right {
          display: flex;
          align-items: center;


          .iconChecked {
            width: 22px;
            height: 22px;
          }

          .iconMore {
            filter: brightness(0) saturate(100%);
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}