.drawerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.imageButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.imageButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.buttonImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 8px;
}

.contentBox {
    flex-grow: 1;
    height: 70%; /* 70% 차지 */
    background-color: #f5f5f5;
    display: flex table-column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.chapterBox {
    margin-bottom: 16px;
}

.chapterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-right: 24px;
}

.chapterButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.episodeContainer {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 2px solid #ddd;
}

.episodeBox {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 8px;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
}
.episodeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.episodeButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    width: 70%;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.episodeButtonSelect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
    background-color: red;
    border-radius: 4px;
}

.deleteButton {
    color: red;
}

.editDialog {
  width: 100%;
}