.llmContainer
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

    margin-bottom: calc(46px + 20px);
}

.inputDataBoxArea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}



.titleArea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;

}

.maxTextInputArea
{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.maxTextButtonArea
{
    display: flex;
    width: 47px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.maxTextButton
{
    display: flex;
    width: 47px;
    padding: 11px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background-color: var(--Neutral-900, #040415);
    
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off; 
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.4px;
}

.maxTextButtonIcon
{
    width: 25.067px;
    height: 25.067px;
}

.greetingDescArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.addGreetingButton
{
    display: flex;
    width: 100px;
    height: 46px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 10px;
    border: 1px solid var(--Border-1, #EAECF0);
    background: var(--White, #FFF);
}