.basicContainer
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

    overflow-y: scroll;

    margin-top: 14px;
    margin-bottom: calc(46px + 20px);
}

.basicContainer::-webkit-scrollbar {
    display: none;  
  }
  
  .basicContainer {
    scrollbar-width: none;  
    -ms-overflow-style: none;  
  }


.inputArea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.inputTextArea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}

.titleArea
{
    display: flex;
    flex-direction: row;
}

.title2
{
    display: flex;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    
    color: var(--Neutral-900, #040415);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.4px;
}

.titleAstric
{
    color: var(--Secondary-Red-1, #F75555);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.4px;
}

.descArea
{
    align-self: stretch;
    
    color: var(--Neutral-700, #5F6368);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.4px;
}

.descArea p {
    margin: 4px 0;
  }

.inputBox
{
    width: 100%;
}

.descriptionInputArea
{
    display: flex;
    flex-direction: column;
    gap: 8px;

}