.characterContainer
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: var(--full-width);
    margin: 0 auto;
    overflow: hidden;
}



.createCharacterArea
{
    display: flex;
    flex-direction: column;
    width: var(--second-width);
    margin:0  16px;
    gap: 14px;
    height: calc(100vh - 58px); 
    overflow-x: hidden;
    overflow-y: scroll;
}

.createCharacterArea::-webkit-scrollbar {
    display: none;  
}
  
.createCharacterArea {
    scrollbar-width: none;  
    -ms-overflow-style: none;  
}

.thumbnailArea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.title2
{
    display: flex;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    
    color: var(--Black, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; /* 21.7px */
}

.thumbnailImage
{
    position: relative;
    width: 180px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 12px;
}

.editButton
{
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.editIcon
{
    display: flex;
    width: 14px;
    height: 14px;
    padding: 1.963px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
 
.floatButtonArea
{
    bottom: 8px;
    position: fixed;
    display: flex;
    width: var(--second-width);
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    gap: 12px;
} 

.floatButton
{
    width: calc(var(--full-width) * 0.5 - 24px);
}

.verticalButtonGroup {
    display: flex;
    width: var(--second-width);
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;  
}
  
.uploadButton
{
    display: flex;
    padding: var(--Gap-and-Padding-Positive-GapPadding-16, 16px) var(--Gap-and-Padding-Positive-GapPadding-24, 24px) var(--Gap-and-Padding-Positive-GapPadding-16, 16px) var(--Gap-and-Padding-Positive-GapPadding-20, 20px);
    align-items: center;
    gap: 18px;
    align-self: stretch;      
    
    border-radius: 12px;
    border: 1px solid var(--Neutral-200, #E8EAED);
    background: var(--Neutral-50, #F8F9FA);
      
    color: var(--Black, #000);
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;     
  }
    
.uploadButton:hover
{
    border-radius: 12px;
    background: var(--Neutral-800, #2C3131);
      
    color: var(--White, #FFF);
}
  
.uploadButton > .buttonIconBack
{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    
    border-radius: 100px;
    border: 1px solid var(--Neutral-200, #E8EAED);
    background: #FFF;
}
    
    
.uploadButton > .buttonIconBack > .buttonIcon
{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    filter: var(--black-icon-filter);
}

.horizontalButtonGroup {
    width: var(--second-width); 
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: wrap;
}

.horizonSwiper
{
  width: calc(var(--full-width) - 16px);

}

.imageTypeArea
{
    width: var(--full-width);
    height: calc(100% - 58px);
    margin: 0;
    margin-bottom: 20px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.imageTypeArea::-webkit-scrollbar {
    display: none;  
}
  
.imageTypeArea {
    scrollbar-width: none;  
    -ms-overflow-style: none;  
}


