/* styles.css or another CSS file */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #main > header, #main > footer {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure header and footer are above other content */
    background-color: #f1f1f1;
  }
  
  #main > header {
    height: 5rem;
    top: 0;
  }
  
  #main > footer {
    height: 5rem;
    bottom: 0;
  }
  
  #main > .content {
    padding: 10px;
    flex: 1; /* Ensures the content takes up the remaining space */
    overflow-y: auto; /* Enables vertical scrolling for the content */
    font-size: 720px;
  }
  