.popupContainer {  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
  text-align: center;    
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;

  position: absolute;
  width: 320px;
  height: 550px;
  max-height: 716px;
  left: calc(50% - 320px/2);
  top: calc(50% - 550px/2);

  background: #FFFFFF;
  border-radius: 24px;
}

.popupContent { 
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 256px;
height: 372px;
 
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.title {  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 120%; 

  text-align: justify;
  letter-spacing: -0.02em;
  
  color: #000000;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  
}

.contentImage { 
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 256px;
height: 156px;

border-radius: 10px;
 
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0; 
}






.contentText { 
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 256px;
height: 179px;
 
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

/* 아이콘 정보 */
.iconInfo {
  display: flex;
  align-items: center;
}
.iconText {
  margin-left: 4px;
  color: white;
  position: relative;
}

.image {
  border-radius: 8px;
  
}
.imageOverlay {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  
  box-sizing: border-box;
}

.episodeTitle {
  padding-top: 10px;
  
  font-weight: bold;
}

.description {
  margin-top: 4px;
  color: gray;
}

.prompt { 
width: 256px;
height: 20px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%; 

color: #80868B;
 
flex: none;
order:  2;
align-self: stretch;
flex-grow: 0; 
}

.buttonContainer { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 256px;
  height: 46px;
   
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;  
}

.buttonNo { 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
gap: 3px;

width: 124px;
height: 46px;

background: #F1F3F4;
border-radius: 8px;
 
flex: none;
order: 0;
flex-grow: 1;

}

.buttonYes { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  
  width: 124px;
  height: 46px;
  
  background: #2C3131;
  border-radius: 8px; 

  flex: none;
  order: 1;
  flex-grow: 1;
  
}

.list { 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 256px;
height: 335px;

 
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.textBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 20px;
  height: 100%;
}

.nameText{

}

.descText{

}

