.navbar {
  display: flex;  
  width: var(--full-width);
  height: 58px;
  padding: 0px 10px 0px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
 
  
.logoArea {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer
}
  
.logo{
  filter: brightness(0) saturate(100%)
}

.menu
{
  filter: brightness(0) saturate(100%)
}

  .notification{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 9px;
    justify-content: center;
    align-items: center;

    position:relative;


  }
  .redDot{
    position:absolute;
    top:10px;
    right:9px;

    width:4px;
    height:4px;
    border-radius: 50%;
    background:#F93052;
  }
  .notificationIcon{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    filter: brightness(0) saturate(100%)
  }

  .userProfile {
    position: relative; 
    margin-left: 15px; 
  }
  
  .dot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px; 
    height: 10px; 
    background-color: green; 
    border-radius: 50%; 
    border: 2px solid white; 
  }
  