.navbar {
  display: flex;  
  width: var(--full-width);
  height: 58px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  
  background: var(--white, #fff);
  position: fixed;  /* ✅ 헤더를 고정 */
  top: 0;           /* ✅ 페이지 최상단에 위치 */
  
  z-index: 1000;    /* ✅ 다른 요소보다 위에 위치 */
}
 
  
/* .logoArea {
  flex-shrink: 0;
  display: flex;
  padding-top: 2px;
  gap: 8px;
  cursor: pointer
  
}

.logo{
  filter: brightness(0) saturate(100%)
} */


.logoArea {
  flex-shrink: 0;
  display: flex;
  padding-top: 2px;
  gap: 8px;
  cursor: pointer
}
  
.logo{
  filter: brightness(0) saturate(100%)
}
  
.ham{
  filter: brightness(0) saturate(100%)
}
  
  
  .rightArea {
    display: flex;  
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .rightinfo
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
  }


  .currencyArea{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
  }
  
  .currencyItem{
    display: flex;
    padding: 5px 8px 6px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    background: var(--Neutral-100,#f1f3f4);
  }

  .currencyIcon{
    width: 12px;
    height: 12px;
    filter: brightness(0) saturate(100%) invert(17%) sepia(4%) saturate(83%) hue-rotate(131deg) brightness(94%) contrast(93%);
  }

  .currencyText{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    
    overflow: hidden;
    color: var(--Neutral-800,#2c3131);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 11px */
  }


  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    gap: 10px;
    /* width: 72px; */
    height: 40px;
  }

  .notification{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
  }
  .redDot{
    position:absolute;
    top:0px;
    right:0px;

    width:4px;
    height:4px;
    border-radius: 50%;
    background:#F93052;
  }
  .notificationIcon{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    filter: brightness(0) saturate(100%) invert(17%) sepia(4%) saturate(83%) hue-rotate(131deg) brightness(94%) contrast(93%);
    
  }

  .rewardIcon{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    margin-top: 4px;
    filter: brightness(0) saturate(100%) invert(17%) sepia(4%) saturate(83%) hue-rotate(131deg) brightness(94%) contrast(93%);
  }


  .userProfile {
    position: relative; 
    margin-left: 15px; 
  }
  
  .dot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px; 
    height: 10px; 
    background-color: green; 
    border-radius: 50%; 
    border: 2px solid white; 
  }
  