.chapterInfo {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.chapterDetails {
    margin-left: 16px;
}

.arrowButton {
    margin-left: auto;
}
