.episodeCard {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 12px;
  position: relative; /* 부모 요소에서 자식의 절대 위치를 기준으로 설정 */
  width: calc(100vw - 32px);
  height: auto;
  min-height: 293px;
  background: #FFF5FD;
  border-radius: 12px;
}

@media (min-width: 402px) {
  .episodeCard {
      max-width: 370px;
  }
}

.dropdownWrapper {
  z-index: 1000; /* 드롭다운이 다른 요소 위에 표시되도록 설정 */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px 10px 16px;
  gap: 12px;
  width: 100%;
  height: 44px;
  border-radius: 12px 12px 0px 0px;
  background: #FFE6F8;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 155%;
  color: #000000;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 10px;
  width: calc(100vw - 32px);
  
}

@media (min-width: 402px) {
  .contentBox {
      width: 370px;
  }
}

.contentTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: calc(100vw - 32px - 32px);
  height: 128px;
}

@media (min-width: 402px) {
  .contentTop {
      width: 338px;
  }
}

.contentTopBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 3px;
  width: 239px;
  height: 128px;
}

.contentTopItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 10px 15px;
  gap: 8px;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #040415;
}

.buttonArea
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.itemCounter
{
  width: 16px;
  display: flex;
  height: 16px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 100px;
  background: var(--Primary-1, #FD55D3);
}

.itemCounterText
{
  color: var(--White, #FFF);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Pretendard;
  font-size: 9px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 9.9px */
  letter-spacing: -0.18px;
}

.contentTopName {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 10px 15px;
  gap: 8px;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #040415;
}

.cardBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 90px;
  height: 100%;
  border-radius: 8px;
}

.itemBox {
  width: 100%;
}

.cardimageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 8px 8px;
}

.cardmainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
}

.cardtopRightButton {
  position: absolute;
  top: 0; /* 부모 컨테이너의 상단 */
  right: 0; /* 부모 컨테이너의 우측 상단 */
  transform: translate(-10%, 10%); /* 정확한 위치 조정 */
  width: 24px; /* 버튼 크기 */
  height: 24px;
  z-index: 10; /* 이미지 위에 표시 */
  cursor: pointer;
  pointer-events: auto; /* 클릭 이벤트 활성화 */
}

.cardfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 10px;
  gap: 10px;
  width: 107px;
  height: 29.99px;
}

.carduserName {
  width: 47px;
  height: 10px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #000000;
}

.contentItemBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 221px;
}

.contentItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 221px;
  border-radius: 8px;
}

.episodeScenario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: calc(100% - 64px); /* 32px의 좌우 여백 */
  border-radius: 8px;
  overflow: hidden;
}

@media (min-width: 402px) {
  .episodeScenario {
      width: 338px; /* 고정 너비 */
  }
}

.episodeScenarioItem1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 15px;
  gap: 61px;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border-bottom: 1px solid var(--Primary-4, #FFF5FD);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #040415;
}

.episodeScenarioItem2 {  
  display: -webkit-box; /* 텍스트 클램프를 위한 필수 속성 */
  -webkit-line-clamp: 2; /* 최대 2줄 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* ... 표시 */
  
  align-items: flex-start;
  padding: 10px 10px 15px 15px; /* 패딩 유지 */
  box-sizing: border-box; /* 패딩을 박스 크기에 포함 */

  width: 100%; /* 부모 요소가 고정된 너비를 가지고 있어야 함 */
  background: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.7; /* 줄 간격 조절 */

  color: #80868B;
  outline: none; /* 포커스 시 아웃라인 제거 */
  border: none;
}


.circlePlusIcon {
  width: 18px;
  height: 18px;
  margin: 6px;
  cursor: pointer;
}

.circlePlusIcon img {
  width: 100%;
  height: 100%;
}

.editDropdDown {
  position: absolute;
  right: 200px;
  top: 50px;
  z-index: 1000; /* 드롭다운이 배경 위로 올라오도록 설정 */
  cursor: pointer;
}

.editDropdDownBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* 드롭다운보다 낮게 설정 */
}

.arrowIcon {
  width: 17px;
  height: 17px;
  margin: 5.5px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(92%) saturate(7479%) hue-rotate(92deg) brightness(106%) contrast(100%);
  cursor: pointer;
}

.arrowIcon img {
  width: 100%;
  height: 100%;
}
