.episodeCard {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 20px;
gap: 12px;
position: relative; /* 부모 요소에서 자식의 절대 위치를 기준으로 설정 */

width: calc(100vw - 32px);
height: auto;
min-height: 293px;

background: #FFF5FD;
border-radius: 12px;

  }

  @media (min-width: 402px) {
    .episodeCard{
        max-width: 370px;
    }
}

.dropdownWrapper {
  z-index: 1000; /* 드롭다운이 다른 요소 위에 표시되도록 설정 */
}
  .header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 10px 12px 10px 16px;
gap: 12px;

width: 100%;
height: 44px;

border-radius: 12px 12px 0px 0px ;
background: #FFE6F8;



font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 155%;
color: #000000;


  }

  .contentBox{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px;
gap: 10px;

width: calc(100vw - 32px);
height: 217px;
  }

  @media (min-width:402px)
  {
    .contentBox {
      width: 370px;
  
    }
  }


  .contentTop
  {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: calc(100vw - 32px - 32px);
height: 128px;
  }
  
@media (min-width:402px)
{
  .contentTop {
    width: 338px;

  }
}

.contentTopBox
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 3px;

width: 239px;
height: 128px;
}

.contentTopItem
{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 5px 10px 15px;
gap: 8px;

width: 100%;
height: 40px;

background: #FFFFFF;
border-radius: 8px;


font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
color: #040415;
}

.contentTopName
{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 5px 10px 15px;
gap: 8px;

width: 100%;
height: 40px;

background: #FFFFFF;
border-radius: 8px;


font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 150%;

color: #040415;
}

  .cardBox {

box-sizing: border-box;

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 90px;
height: 100%;
border-radius: 8px;
  }
  
.itemBox{
    width: 100%;
}

  .cardimageContainer {

position: relative;
width: 100%;
height: 100%;

border-radius: 8px 8px 8px 8px;

  }
  
  .cardmainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
  }
  
  .cardtopRightButton {
    position: absolute;
    top: 0; /* 부모 컨테이너의 상단 */
    right: 0; /* 부모 컨테이너의 우측 상단 */
    transform: translate(-10%, 10%); /* 정확한 위치 조정 */
    width: 24px; /* 버튼 크기 */
    height: 24px;
    z-index: 10; /* 이미지 위에 표시 */
    cursor: pointer;
    pointer-events: auto; /* 클릭 이벤트 활성화 */cursor: pointer
  }
  
  .cardfooter {
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 8px 10px;
gap: 10px;

width: 107px;
height: 29.99px;
  }
  
  .carduserName {
    /* Suyeon */

width: 47px;
height: 10px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;

display: flex;
align-items: center;

color: #000000;

  }
  
  .contentItemBox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 221px;
height: 183px;
    }

    .contentItem
    {
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 221px;
height: 79px;

border-radius: 8px;
    }

    .episodeScenario
    {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: calc(100vw - 32px - 32px);
height: 99px;

border-radius: 8px;

    }


@media (min-width:402px)
{
  .episodeScenario {
    width: 338px;

  }
}

    .episodeScenarioItem1
    {
box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px 5px 5px 15px;
gap: 61px;

width: 100%;
height: 40px;

background: #FFFFFF;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
color: #040415;
    }

    .episodeScenarioItem2
    {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 10px 15px 15px;
gap: 61px;

width: 100%;
height: auto;
min-height: 39px;

background: #FFFFFF;

    }


    .circlePlusIcon
    {
      width: 18px;
      height: 18px;
      margin: 6px;cursor: pointer
    }
  
    .circlePlusIcon img
    {
      width: 100%;
      height: 100%;
    }

    .editDropdDown {
      position: absolute;
      right: 200px;
      top: 50px;
      z-index: 1000; /* 드롭다운이 배경 위로 올라오도록 설정 */cursor: pointer
    }
    
    .editDropdDownBack {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      z-index: 999; /* 드롭다운보다 낮게 설정 */
    }
    
    .arrowIcon
    {
      width: 17px;
      height: 17px;
      margin: 5.5px;
      filter: brightness(0) saturate(100%) invert(0%) sepia(92%) saturate(7479%) hue-rotate(92deg) brightness(106%) contrast(100%);
      cursor: pointer
    }

    .arrowIcon img
    {
      width: 100%;
      height: 100%;
    }

    