/* DrawerContentDesc.module.css */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px 6px 24px;

  }

  .header .headerbutton {
    margin-left: 10px;
  }
  
  
  .content {
    height: 100vh; 
    overflow-y: auto;
  }
  
  .cardContent {
    padding: 1px;
  }
  
  .cardProducerArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  
  .imageThumbnail  {
    width: 100vh;
    height: 'auto';
    object-Fit: 'cover';
    position: relative;
 }


  .descriptionBox {
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: first baseline;
    align-items: first baseline;
    margin-bottom: 16px;
  }

  
  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 0;
  }
  
  .tagChip {
    background-color: #e0e0e0;
    color: #424242;
    font-weight: bold;
    pointer-events: none;
  }
  
  .paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .hiddenTabs {
    display: none;
  }

  
  
  .chatingControlPanel {
    /* background-color: green; */
    border: 2px;
    border-style: solid;
    border-radius: 12px;
    height: 130vh; 
    overflow-y: hidden;
    align-items: center;
  }
  

  .chapterBox
  {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .chapterName
  {
    align-self: center;
    padding-left: 30px;

  }
  .chapterSelect {
    align-self: center;
    margin-top: 5px;
        width: 50vw;
    margin-right: 15px;
  }
  
  .episodeListContainer {
    padding-top: 16px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
  }

  .episodeInfoList
  {
    
  }

  .startNewChatButton
  {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom:1vh;
    height: auto;
    width: 80vw;
  }