
.modal-body {
    display: flex;
    flex-direction: column; /* 세로 정렬 */    
    max-width: 500px;
    margin: 0 auto; /* 수평 중앙 정렬 */      
}



.modalHeader {    
    max-width: 500px;
    margin: 0 auto; /* 수평 중앙 정렬 */      
    width: 100%; /* 헤더의 너비를 화면 전체로 설정 */
    z-index: 1000; /* 다른 요소 위에 나타나도록 설정 */    
    padding-left: 0;
    padding-right: 0;
    background-color: white; /* 배경색 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
    
}


.modal-title {    
    font-size: 1.0 em; /* 제목 크기 조정 */    
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
.card-box
{
    padding: 5%;
    height: 100%;
}
.card-body
{    
    height: 100%;
    align-items: center; /* 세로 정렬 */        
    justify-content: center; /* 가로 정렬 */       

}

.box-button
{
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */    
    height: 10%;
    padding-bottom: 5%;

}


.artistInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.artistDetails {
    margin-left: 16px;
    width: 70%;
}

.arrowButton {
    margin-left: auto;
}


.buttonBox
{
    display: flex; 
    align-items: center;
    justify-content: center;
}

.mainBox
{
    display: flex; 
    align-items: center;
    flex-direction: column;     
    padding-top: 20px;

    overflow-y:auto;
}

.itemBox
{   
    display: flex; 
    flex-direction: column; /* 세로 정렬 */   
    width: 80%;
    padding-bottom: 30px;
}

.itemitemBox
{
    display: flex; 
    flex-direction: row; /* 세로 정렬 */   
    justify-content: center;
}

.itemSideGapBox
{
    display: flex; 
    flex-direction: row; /* 세로 정렬 */   
    justify-content: center;
}

.generateButton {
    margin: 8px; /* m: 1과 동일 */
    color: black;
    border: 2px solid gray; /* 테두리 색상과 두께 */
    width: 150px; /* 버튼 너비 */
    display: flex;
    justify-content: space-between; /* 아이콘, 텍스트, 숫자 간격 조정 */
    align-items: center; /* 수직 정렬 */
    padding: 8px; /* 내부 여백 */
    background-color: transparent; /* 배경 투명 */
    cursor: pointer; /* 클릭 가능한 느낌 */
    border-radius: 8px; /* 모서리 둥글게 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 호버 시 부드러운 전환 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 기본 그림자 */
}
  
  .generateButton:hover {
    background-color: #f5f5f5; /* 호버 시 배경색 변경 */
  }
  
  .generateIcon {
    margin-right: 8px; /* 아이콘과 텍스트 간격 */
  }
  
  .generateText {
    flex-grow: 1; /* 텍스트가 가운데 위치하도록 */
    text-align: center; /* 텍스트 가운데 정렬 */
  }
  
  .generateCount {
    margin-left: 8px; /* 숫자와 텍스트 간격 */
    font-size: 14px; /* 숫자 크기 */
    color: gray; /* 숫자 색상 */
  }