.imageButton {
  position: relative; 
  
  overflow: hidden;
  border-radius: 12px;

  cursor: pointer;
}

.imageButton.large
{ 
  width: calc(100% * 0.5 - 5.5px);
  max-width: 180px;
  height: 260px; 
}

.imageButton.middle
{
  width: calc(100% * 0.33 - 3.2px);
  max-width: 116px;
  height: calc(100% * 0.33 - 3.2px);
  max-height: 116px;
}

.imageButton.small
{
  width: 100px;
  height: 100px;
}


.imageButton.summary
{
  width: 100%; 
  aspect-ratio: 1 / 1;
} 

.imageButton.result
{
  width: calc(100% / 3 - 8px); 
  max-width: calc(1300px / 4 - 17px);
  aspect-ratio: 13 / 19;
}

.imageButton.portrait
{
  width: 100%;
  height: 100%;
  aspect-ratio: 13 / 19;
}

@media screen and (max-width: 431px) {
  .imageButton.result {
    width: calc(100% / 2 - 6px); 
  }
}

.imageBackGround {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  
  background-position: center;
  background:  lightgray 50% / cover no-repeat;
}

.imageBackGround.selected
{
  background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), 
}
 
.label {
  max-width: 100%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  
  display: inline-flex;
  height: 26px;
  padding: 3px 15px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0; 
  
  border-radius: 24px;
  border: 1px solid var(--White, #FFF);
  background: rgba(245, 245, 245, 0.20);
  backdrop-filter: blur(10px);
}

.label.selected {
  background: #F5F5F5;
}

.label span
{
  white-space: nowrap;

  color: var(--White, #FFF);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}

.label.selected span
{
  color: var(--Black, #000);
}

.selectedIcon
{
  position: absolute;
  
  left: 50%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.selectedIcon.small
{
  top: 7px;
  transform: translate(-50%);
}

.selectedIcon.middle
{
  transform: translate(-50%);
  bottom: 50%;
}

.selectedIcon.large
{
  transform: translate(-50%, 50%);
  bottom: 50%;
}


.multiSelIcon
{
  position: absolute;
  right: 5px;
  top: 5px;

  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
} 

.processingArea
{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.processingIcon
{
  width: 40px;
  height: 40px;
}

.processingText
{
  align-self: stretch;

  color: var(--Labels-Secondary, rgba(60, 60, 67, 0.60));
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: -0.4px;
}