.characterMain {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden;
    width: var(--full-width);
    margin: 0 auto
}
  

.dashboardButton
{
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.dashboardIcon
{
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  filter: var(--black-icon-filter);
}