/* 전체 */
.container {
    position: relative;
    width: var(--full-width);
    margin: 0 'auto';
    height: 100%;
    max-height: 100%;
    overflow-x: hidden; 
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  /* 공통 영역*/
  /* Stepper */ 
  .stepperContainer {
    width: 100%;
    overflow-x: auto; /* Stepper가 화면을 벗어나지 않도록 스크롤 허용 */
    margin-bottom: 16px;
    overflow: hidden;
  }
  
  .stepper {
    width: max-content; 
    /* width: 100%; */
  }

  .stepItem {
    width: 50vw;
  }
  
  .MuiStep-horizontal {
    scroll-snap-align: center; /* 각 스텝이 중앙에 오도록 설정 */
  }
  
  .progressBarContainer {
    margin-bottom: 24px;
  }
  


/* 각각의 스텝 안의 내용 */

  .stepContent {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 28px;
    width: 100%;
    height: 100vh;
    font-size: 18px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Optional: Hide overflow in the Y-direction */
    overflow-y: auto;
  }
  
.stepContent::-webkit-scrollbar {
  display: none;  
}

.stepContent {
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}
  
  
  .buttonContainer {
    display: flex;
    justify-content: space-between; 
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
  }
  
.stepButton {
  width: auto;
  min-width: 120px;


}
 
.createBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.createTitle {
  color: var(--Neutral-500, #9AA0A6);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */

  margin-bottom: 28px;
}

.createSubTitle
{
  color: var(--Black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%; /* 21.7px */

}

.verticalButtonGroup {
  display: flex;
  width: var(--second-width);
  margin-left: 16px;
  margin-right: 16px; 
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;  
}

.uploadButton
{
    display: flex;
    padding: var(--Gap-and-Padding-Positive-GapPadding-16, 16px) var(--Gap-and-Padding-Positive-GapPadding-24, 24px) var(--Gap-and-Padding-Positive-GapPadding-16, 16px) var(--Gap-and-Padding-Positive-GapPadding-20, 20px);
    align-items: center;
    gap: 18px;
    align-self: stretch;
    
    border-radius: 12px;
    border: 1px solid var(--Neutral-200, #E8EAED);
    background: var(--Neutral-50, #F8F9FA);
    
    color: var(--Black, #000);
    text-align: justify;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;     

    cursor: pointer;
}
  
.uploadButton:hover
{
    border-radius: 12px;
    background: var(--Neutral-800, #2C3131);
    
    color: var(--White, #FFF);
}


  .uploadButton > .buttonIconBack
  {
      display: flex;
  width: 50px;
  height: 50px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  
  border-radius: 100px;
  border: 1px solid var(--Neutral-200, #E8EAED);
  background: #FFF;
  }
  
  
  .uploadButton > .buttonIconBack > .buttonIcon
  {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      filter: var(--black-icon-filter);
  }
    

.horizontalButtonGroup {
  width: var(--second-width); 
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: wrap;
}


.gridButtonGroup3x3 {
  width: var(--second-width); 
  
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: wrap;
}

.buttonGap11
{
  gap: 11px;
}

.buttonGap10
{
  gap: 10px;
}

.buttonGap6
{
  gap: 6px;
}

.createContentBox
{
  display: flex;
  flex-direction: column;
  width: var(--second-width);
  gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.horizonSwiper
{
  width: calc(var(--full-width) - 16px);

}

.disabledByPrompt {
  pointer-events: none;
  opacity: 0.5;
}

.createContentArea
{
  display: flex;
  flex-direction: column; 
  gap: 8px ;
  align-items: flex-start;
}

.buttonLabel {
  color: black;
  font-weight: bold;
}

.scrollableContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto; /* Allow horizontal scrolling */
  scroll-snap-type: x mandatory;
  padding: 8px 0;
}

.scrollableContainer::-webkit-scrollbar {
  height: 8px; /* 크롬 등 웹킷 브라우저에서 스크롤바 높이 */
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}

.scrollableContainer > * {
  scroll-snap-align: center;
  flex: 0 0 auto; 
}
 
.swiperSmall
{
  width: 100px;
  height: 100px;
}

.personalityButton
{
  display: flex;
  width: calc(var(--second-width) * 0.5 - 5.5px);
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid var(--Border-1, #EAECF0);
  background: var(--Neutral-50, #F8F9FA);
}

.personalityButton.selected
{
  border: 1px solid var(--Primary-2, #FEBBEA);
  background: var(--Primary-1, #FD55D3);
}

.personalityLabel1
{
  color: var(--Neutral-800, #2C3131);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}

.personalityLabel1.selected
{
  color: var(--White, #FFF);
}

.personalityLabel2
{
  color: var(--Neutral-800, #2C3131);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}

.personalityLabel2.selected
{
  color: var(--White, #FFF);
}

.rubyIcon
{
  width: 12px;
  height: 12px;

  filter: sepia(3%) saturate(562%) hue-rotate(169deg) brightness(88%) contrast(92%);
}

.redAstrisk
{
  color: #F00;  
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%;

}

.summaryItem
{ 
  width: calc(var(--second-width) * 0.27 - 3.2px - 10px);
  min-width: 116px;
  min-height: calc(var(--second-width) * 0.27 - 3.2px - 10px + 24px);
  display: flex; 
  flex-direction: column;
  gap: 5px;
  flex-shrink: 0;

  overflow: hidden;
}

@media screen and (max-width: 431px) {
  .summaryItem {
    width: 116px;
    height: calc(116px + 24px);
  }
}

.summaryLabel
{ 
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}