
/* Generate */


 .characterDesc
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.characterDesc > .title
{
    flex: 1 0 0;
    color: var(--Black, #000);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; /* 21.7px */

}

.characterDesc > .inputBox
{
    display: flex;
padding: 18px 12px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
border-radius: 10px;
border: 1px solid var(--Neutral-200, #E8EAED);
background: var(--White, #FFF);
}


.promptArea 
{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 38px;
} 


.generateButton 
{
    display: flex;
    width: var(--second-width);
    height: 46px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    border-radius: 8px;
    border: 1px solid var(--Neutral-200, #E8EAED);
}
 
.generateButton > .buttonText
{
    color: var(--Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.4px;
}

.generateButton > .costArea
{
    display: flex;
    align-items: center;
    gap: 4px;
}

.costArea > .costIcon
{
    width: 14px;
    height: 14px;
}

.costArea > .costText
{
    color: var(--Black, #000);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
}


.styleArea 
{
    display: flex;
    width: var(--second-width);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
}
 

.styleArea > .title{
    display: flex;
    align-items: center;
    align-self: stretch;
    color: var(--Black, #000);
    
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; /* 21.7px */
}

.styleArea > .styleSwiper
{
    display: flex;
    align-items: flex-start;
    gap: 6px;

    width: 100%;
    height: 90%;
}


.styleSwiper > .swiperSlide {
    display: flex;
    width: calc(var(--second-width) * 0.23);
    height: 122px;
    padding-bottom: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    display : flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }

@media (min-width:402px)
{
    .styleSwiper > .swiperSlide {
        width: 88px;
    }
}
  
.swiperSlide > .slideBackground {
    position: relative;
    width: calc(var(--second-width) * 0.23);
    height: 88px;
    flex-shrink: 0;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
  
    border-radius: 8px;
    background: lightgray 50% / cover no-repeat;
}

@media (min-width:402px)
{
    .swiperSlide > .slideBackground {
        width: 88px;
    }
}

.slideBackground > .selectedIcon
{
    position: absolute;

    width: 60px;
    height: 60px;
    flex-shrink: 0;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiperSlide > .slideText {
    display: flex;
    width: 68px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Black, #000);
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; /* 21.7px */
}

.blackIcon{
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(42%) hue-rotate(163deg) brightness(88%) contrast(99%);
}