/* EpisodeDescription.module.css */
.dialogTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .dialogContent {
    padding: 16px;
  }
  
  .errorMessage {
    color: red;
  }
  
  .dialogActions {
    display: flex;
    justify-content: space-between;
    padding: 16px; /* Adjust padding as needed */
  }
  