.list {
    height: 100%; 
    display: flex;
    width: var(--second-width);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 16px;
    overflow-y: auto; 
}
 
.list::-webkit-scrollbar {
  display: none;  
}

.list {
 scrollbar-width: none;  
 -ms-overflow-style: none;  
}
