.list {
    height: 100%; 
    display: flex;
    width: calc(100vw - 32px);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 16px;
    overflow-y: auto; 
}

@media (min-width:402px)
{
  .list  {
    width: 370px;
  }
}

.list::-webkit-scrollbar {
  display: none;  
}

.list {
 scrollbar-width: none;  
 -ms-overflow-style: none;  
}
