.drawerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 16px;
    overflow: hidden;

}

.filterContainer {
    display: flex;
    width: calc(100vw - 32px);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

@media (min-width:402px)
{
  .filterContainer  {
    width: 370px;
  }
}


.filterBase {
    display: flex;
    width: 96px;
    padding: 10px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    
    border-radius: 30px;
    border: 1px solid var(--Border-1, #EAECF0);    
}

.filterData
{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    gap : auto;
}

.filterPublish { 
    width: 100px;
}

.filterOption{
    width: 140px; 
}

.filterName {
    color: var(--Neutral-800, #2C3131);
    text-align: center; 
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
}

.filterIcon {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    
    color : #bdc1c6;
    filter: invert(25%) sepia(1%) saturate(1472%) hue-rotate(125deg) brightness(97%) contrast(82%);
}


.filterSelect {
    margin-right: 8px;
    flex-grow: 1;
}

.createButton {
    flex-shrink: 0;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
}
