.drawerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    overflow: hidden;
}

.filterContainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.filterSelect {
    margin-right: 8px;
    flex-grow: 1;
}

.createButton {
    flex-shrink: 0;
}

.list {
    height: 70%; 
    background-color: black;
    border: 1px solid #ccc; 
    margin-bottom: 16px;
    overflow-y: auto; 
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}
