.drawerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 16px;
    overflow: hidden;

}

.filterContainer {
    display: flex;
    width: var(--second-width);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
} 

.createButton {
    flex-shrink: 0;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
}
