.containerBox{
  width: calc(100%);  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.containerBox:nth-of-type(1){
  margin-top:15px;
}
 

.title
{
  color: #040415;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.4px;
}

.exploreSwiper
{
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  padding-right: 16px !important;
} 

.exploreSwiper :global(.swiper-slide) {
  width: auto;
}