.featuredContainer
{
    top: 12px;
    gap: 15px;
    overflow-y: hidden;
}

.scrollArea
{ 
    height: calc((var(--vh, 1vh) * 100) - 160px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* 세로 스냅 스크롤 */
}

.scrollArea::-webkit-scrollbar {
    display: none;  
  }
  
.scrollArea {
   scrollbar-width: none;  
   -ms-overflow-style: none;  
}


.content {
    flex: 1; 

    height: calc(100vh - 56px - 60px);
    
    margin-left: 16px;  
}

@media (min-width : 402px)
{
    .content
    {
    }
}

.searchBoard
{
    margin-top: 0;
    height: 120px;
} 
 
.listContainer
{ 
    height: calc(100vh - 56px - 60px - 320px);
    display: flex;
    flex-direction: column;
}

@media (min-width : 402px)
{
    .listContainer
    {

        width: 386px;
    }
}