.search-board
{
    margin-top: 0;
    height: 120px;
}

 
.search-board-container
{
    margin-top: 5px;
    height: calc(100vh - 56px - 60px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* 세로 스냅 스크롤 */
}