
.containerBox{  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.scrollBox {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; /* 가로 스냅 스크롤 */
    padding: 16px 0;
    
  }
  
  .scrollBox::-webkit-scrollbar {
    display: none; 
  }

  .mySwiper
  {
    padding: 5px;
  }