.content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    
    margin: 0 ; 
    overflow: hidden;
}

@media (min-width : 402px)
{
    .content
    {
        width: 402px;

    }
}

.searchBoard
{
    margin-top: 0;
    height: 120px;
} 
 
.listContainer
{ 
    height: calc(100vh - 56px - 60px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* 세로 스냅 스크롤 */
}

@media (min-width : 402px)
{
    .listContainer
    {

        width: 386px;
    }
}

.featuredContainer
{
    margin-top: 12px;
    gap: 15px;
}