/* Modal 관련 스타일 */
.modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    max-width: 500px;
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* MainData 관련 스타일 */
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.triggerTypeSection {
    margin-bottom: 16px;
}

.selectBox {
    width: 80%;
}

.targetValueSection {
    padding-top: 20px;
    width: 100%;    
}

.input {
    width: 100%;
}

/* SubData 관련 스타일 */
.subValueContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Episode 관련 스타일 */
.episodeContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.episodeChangeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Destination 관련 스타일 */
.destinationContainer {
    display: flex;
    flex-direction: column;
}

.destinationDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
}

.destinationLabel {
    font-weight: bold;
    margin-bottom: 10px;
}

.chapter {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.episode {
    font-size: 16px;
}

/* Get Intimacy Point 관련 스타일 */
.intimacyContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Change Prompt 관련 스타일 */
.promptContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.conversationTemplate {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.conversationLabel {
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}

/* 아이콘 및 버튼 스타일 */
.icon {
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 10px;
}

.rightButton {
    padding: 10px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 8px;
}
