/* EpisodeTrigger.module.css */

.modal-body {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */
    height: 100%; /* 높이 100% */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-content {
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */
    padding: 20px; /* 패딩 조정 */
    overflow-y: auto; /* 내용이 길어질 경우 스크롤 추가 */
    height: calc(100% - 64px); /* DialogTitle 높이를 제외한 100% */
}
