.modal-body {
    display: flex;
    flex-direction: column; /* 세로 정렬 */    
    max-width: 402px;
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.modal-header {
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    padding-left: 24px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
}

.modal-title {    
    font-size: 20px; /* 제목 크기 조정 */    
    font-weight: bold;
}


.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
.card-box
{
    padding: 0px 28px;
    height: 100%;
}

.listText
{
    padding-left: 10px;
    font-size: medium;
    font-weight: bold;
}

.card-body
{   
    height: 100%;
}

.box-button
{
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */    
    height: 10%;
    padding-bottom: 5%;

}

.button-add
{
    border-radius: 10px;
    height: 50px;
    width: 120px;
    
}