.episodeCard {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: flex-start;
  gap: 14px;
  
  border-radius: 20px;
  border: 1px solid var(--Border-1, #EAECF0);
  background: #FFF;  
}

/* 딤드 처리 */
.dimmed {
  opacity: 0.5;
  pointer-events: none; /* 클릭 방지 */
}

/* 이미지 박스 */
.imageBox {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

/* 이미지 */
.episodeImage {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  background: lightgray 50% / cover no-repeat;
}

/* 이미지 오버레이 */
.imageOverlay {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  box-sizing: border-box;
}

/* 아이콘 정보 */
.iconInfo {
  display: flex;
  align-items: center;
}

.iconText {
  margin-left: 4px;
  color: white;
}

/* 텍스트 박스 */
.textBox {
  display: flex;
  width: calc(100% - 100px - 14px);
  height: 100px;
  padding: 5px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}

.title {
  align-self: stretch;
  
  color: var(--Black, #000);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.16px;
  white-space: nowrap; 
}

.description {
  width: 100%;
  flex-shrink: 0;
  align-self: stretch;

  color: var(--Neutral-600, #80868B);
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 169.231% */
  letter-spacing: 0.13px;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* 줄 수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;  
  word-break: break-word;  
  overflow: hidden;
}

/* 잠김 아이콘 배치 */
.lockIconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 10px;
}

.lockIcon {
  color: white;
  font-size: 32px;
}