.chapterItem {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    
     border-radius: 12px;
    border: 1px solid var(--Border-1, #EAECF0);
    background: var(--White, #FFF);
    
}

.chapterInfoArea {
    display: flex;
    padding: 10px 12px 10px 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
    background: var(--Neutral-100, #F1F3F4);
}

.chapterInfoLeft {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
}

.radioButton {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.radioButtonIcon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.chapterName {
    color: var(--Black, #000);
    font-family: 'Lato';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%; /* 23.25px */}

.chapterDropDownButton {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 5.6px;
    justify-content: center;
    align-items: center;
}

.chapterDropDownIcon {
    width: 16.8px;
    height: 16.8px;
    flex-shrink: 0;
    
    color: black;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(42%) hue-rotate(163deg) brightness(88%) contrast(99%);
}

.episodeContainer {
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.chapterDropDown
{
    top: 42.13px;
    right: 0;
}