.modalContainer
{
    width: var(--full-width);
    height: 100vh; 
    margin: 0 auto;
    overflow: hidden; 
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

.drawerContainer {
    margin: 6px 16px 0px 16px;

    overflow-y: auto;
    overflow-x: hidden;
}

.drawerContainer::-webkit-scrollbar {
    display: none; 
}

.drawerContainer {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.bigTitle
{
    color: var(--Eerie-black, #1E1E1E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */

    margin-top: 6px;
    margin-bottom: 12px;
}

.informationArea
{
    display: flex;
    width: var(--second-width);
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    margin-top: 14px;
    margin-bottom: 20px;
}
 
 

.smallTitle
{ 
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: stretch;

    color: var(--Black, #000);
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; /* 21.7px */
}


.inputBox
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.settingList
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 27px;
}


.label {
    margin-top: 16px;
    margin-bottom: 8px;
}

.tagContainer {    
    width: var(--second-width);
    min-height: 283px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
 
.tagTitleArea
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 3px;
}

.tagItem
{
    display: flex;
    height: 36px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    border-radius: 100px;
    border: 1px solid var(--Border-1, #EAECF0);
    background: var(--Neutral-50, #F8F9FA);
    
    color: var(--Neutral-800, #2C3131);
    leading-trim: both;
    text-edge: cap;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 100% */
    
}

.tagItem.selectedItem
{
    border: 1px solid var(--Primary-3, #FFE6F8);
    background: var(--Primary-1, #FD55D3);
    
    color: var(--White, #FFF);
}

.resetButtonArea
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 54px;
    height: 20px;
    flex-shrink: 0;
}

.resetIcon
{
    width: 16px;
    height: 16px;
    flex-shrink: 0;

    filter: brightness(0) saturate(100%) invert(72%) sepia(2%) saturate(1072%) hue-rotate(170deg) brightness(88%) contrast(86%);
}

.grayText
{
    color: var(--Neutral-500, #9AA0A6);
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 20.15px */ 
} 

.tagArea
{
    margin-top: 24px;

}

.moreTagsArea
{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}


.tagSelect {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.moreButton{
    width: 100%;

    margin-top: 30px;

    display: flex;
    height: 30px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    
    border-radius: 8px;
    border: 1px solid var(--Border-1, #EAECF0);
    background: var(--White, #FFF);
    
    color: var(--Neutral-500, #9AA0A6);
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.4px;
}

.moreIcon
{
    width: 12px;
    height: 12px;
    
    color: var(--Neutral-500, #9AA0A6);
    filter: brightness(0) saturate(100%) invert(72%) sepia(2%) saturate(1072%) hue-rotate(170deg) brightness(88%) contrast(86%);
}

.buttonComplete
{
    width: 100%;
    margin-bottom: 8px;
}