.drawerArea
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  align-self: stretch;
}

.drawerTitle
{
  color: var(--Neutral-100, #101010);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.buttonArea
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 12px;
  border: 1px solid var(--Border-1, #EAECF0);
}
.drawerButton
{
  display: flex;
  width: var(--second-width);
  height: 66px;
  padding: 13px 20px;
  align-items: center;
  gap: 10px;
  background: var(--Neutral-50, #F8F9FA);
}
 

.drawerButtonTop
{
  
  border-top-left-radius : 12px ;
  border-top-right-radius : 12px ;
  border: 1px solid var(--Border-1, #EAECF0);
}

.drawerButtonMid
{
  border-bottom: 1px solid var(--Border-1, #EAECF0);
}

.drawerButtonBot
{
  border-bottom-left-radius : 12px ;
  border-bottom-right-radius : 12px ;

}

.drawerButton > .buttonItem
{
  display: flex;
width: 5.55vw;
align-items: center;
gap: 10px;
flex-shrink: 0;
align-self: stretch;
}

@media (min-width: 402px) {
  
.drawerButton > .buttonItem
{
  width: 223.5px;
}
}

.buttonItem > .buttonIcon
{
  display: flex;
width: 24px;
height: 24px;
padding: 2.53px 2.499px 2.53px 2px;
justify-content: center;
align-items: center;
flex-shrink: 0;
filter: brightness(0) saturate(100%) invert(0%) sepia(92%) saturate(7479%) hue-rotate(92deg) brightness(106%) contrast(100%);
}

.buttonItem > .buttonText
{
  color: var(--Black, #000);
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.3px;
}

/* .drawerTitle {
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
} */

/* .drawerButton {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  text-transform: none;
}

.drawerButtonIcon {
  margin-right: 12px;
} */
