.drawerCreate {
    position: absolute;
    bottom: 72px; /* BottomNavigation의 높이만큼 여백 */
    z-index: 30; /* BottomNavigation보다 낮은 zIndex */
  }
  
  .drawerBackdrop {
    background-color: transparent;
  }
  
  .drawerBox {
    display: flex;
    justify-content: space-around;
    padding: 16px;
  }
  
  .drawerItem {
    text-align: center;
  }
  