/* analysis.module.css */
.dashboard {
    width: 100%;
    overflow-x: auto;  /* 가로 스크롤 활성화 */
    overflow-y: auto;  /* 세로 스크롤 활성화 */
    max-height: 100vh;  /* 화면 크기에 맞춰 높이 제한 */
    display: flex;
    justify-content: center;  /* 차트 가운데 정렬 */
  }
  
  .bar-chart-container {
    width: 600px;  /* 차트의 너비 */
    height: 2400px;  /* 차트의 높이 */
    margin-right: 20px;  /* 두 차트 사이의 간격 */
    overflow: auto; /* 차트 컨테이너의 스크롤 활성화 */
  }
  