@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {   
  /*Color 선언*/
  --background-fill-light-theme: #ffffff;   
  --background-fill-light-theme-primary: #ffffff;
  --background-fill-light-theme-secondary: #f3f4fa;
  --background-fill-light-theme-tertiary: #f8f8f9;

  --background-fill-dark-theme: #000000;
  --background-fill-dark-theme-primary: #000000;
  --background-fill-dark-theme-secondary: #1c1c1e;
  --background-fill-dark-theme-tertiary: #2c2c2e;

  --Neutral-900 : #040415;
  --Neutral-800 : #2c3131;
  --Neutral-700 : #5f6368;
  --Neutral-600 : #80868b;
  --Neutral-500 : #9aa0a6;
  --Neutral-400 : #bdc1c6;
  --Neutral-300 : #dadce0;
  --Neutral-200 : #e8eaed;
  --Neutral-100 : #f1f3f4;
  --Neutral-50 : #f8f9fa;

  --typhography-primary : var(--Neutral-800);
  --typhography-secondary : var(--Neutral-500);
  --typhography-placeholder : var(--Neutral-300);

  --Primary-1 : #fd55d3;
  --Primary-2 : #febbea;
  --Primary-3 : #ffe6f8;
  --Primary-4 : #fff5fd;

  --Secondary-Red-1 : #f75555; 

  --Border-1 : #eaecf0;
  
  /* text color */
  --Grays-White : #fff;
  --White : #fff;
  --Black : #000;


  /* icon color filter */
  
  --black-icon-filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(42%) hue-rotate(163deg) brightness(88%) contrast(99%);

  /* darkmode 자동 대응 되도록 설정*/
  --background: var(--background-fill-light-theme);
  --background-primary: var(--background-fill-light-theme-primary);
  --background-secondary: var(--background-fill-light-theme-secondary);
  --background-tertiary: var(--background-fill-light-theme-tertiary);


  --foreground: #171717;

  /* ScreenSize 관련*/
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);


  --full-width: clamp(0px, 100vw, 402px);
  --second-width : clamp(0px, calc(100vw - 32px) , calc(402px - 32px));  /* 370px */
  --third-width : clamp(0px, calc(100vw - 32px - 32px) , calc(402px - 32px - 32px));  /* 338px */

  --bottom-nav-height : 78px;
}

.safe-area-container {
  padding-top: var(--safe-area-inset-top);
  padding-bottom: var(--safe-area-inset-bottom);
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
  height: calc(100vh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.full-width-size {
  width: var(--full-width);
  margin-left: 0;
  margin-right: 0;
}

.second-width-size {
  width: var(--second-width);
  margin-left: 16px;
  margin-right: 16px;
}

.third-width-size {
  width: var(--third-width);
  margin-left: 16px;
  margin-right: 16px;
}



@media (prefers-color-scheme: dark) {
  :root {    
    --background: var(--background-fill-dark-theme);
    --background-primary: var(--background-fill-dark-theme-primary);
    --background-secondary: var(--background-fill-dark-theme-secondary);
    --background-tertiary: var(--background-fill-dark-theme-tertiary);
 
    --foreground: #ededed;
  }
}

/* @font-face {
  font-family: 'Lato';
  src: 
  url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {  
  user-select: none;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC' ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.blackIcon{
  filter: var(--black-Icon-Filter);
}

h1, h2, h3, h4, h5, h6
{
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Lato', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

