/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-blackitalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-bolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-semibolditalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-mediumitalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-lightitalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-thinitalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}


:root {   
  /*Color 선언*/
  --background-fill-light-theme: #ffffff;   
  --background-fill-light-theme-primary: #ffffff;
  --background-fill-light-theme-secondary: #f3f4fa;
  --background-fill-light-theme-tertiary: #f8f8f9;

  /* --background-fill-dark-theme: #000000;
  --background-fill-dark-theme-primary: #000000;
  --background-fill-dark-theme-secondary: #1c1c1e;
  --background-fill-dark-theme-tertiary: #2c2c2e; */

  --Neutral-900 : #1A1D1D;
  --Neutral-800 : #2c3131;
  --Neutral-700 : #5f6368;
  --Neutral-600 : #80868b;
  --Neutral-500 : #9aa0a6;
  --Neutral-400 : #bdc1c6;
  --Neutral-300 : #dadce0;
  --Neutral-200 : #e8eaed;
  --Neutral-100 : #f1f3f4;
  --Neutral-50 : #f8f9fa;

  --typhography-primary : var(--Neutral-800);
  --typhography-secondary : var(--Neutral-500);
  --typhography-placeholder : var(--Neutral-300);

  --Primary-1 : #fd55d3;
  --Primary-2 : #febbea;
  --Primary-3 : #ffe6f8;
  --Primary-4 : #fff5fd;

  --Secondary-Red-1 : #f75555; 

  --Border-1 : #eaecf0;
  
  /* text color */
  --Grays-White : #fff;
  --White : #fff;
  --Black : #000;


  /* icon color filter */
  
  --black-icon-filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(42%) hue-rotate(163deg) brightness(88%) contrast(99%);

  /* darkmode 자동 대응 되도록 설정*/
  --background: var(--background-fill-light-theme);
  --background-primary: var(--background-fill-light-theme-primary);
  --background-secondary: var(--background-fill-light-theme-secondary);
  --background-tertiary: var(--background-fill-light-theme-tertiary);


  --foreground: #171717;

  /* ScreenSize 관련*/
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);

  --full-width-percent: clamp(0px, 100%, 1300px);
  --full-width: clamp(0px, 100vw, 1300px);
  --second-width : clamp(0px, calc(100vw - 32px) , calc(var(--full-width) - 32px));  /* 370px */
  --third-width : clamp(0px, calc(100vw - 32px - 32px) , calc(var(--full-width) - 32px - 32px));  /* 338px */
  --header-removed-height : calc(100% - 58px);

  --bottom-nav-height : 64px;
  
  --body-height : calc(100% - 58px - 64px);


  /* Component Size 관련*/
  --basic-button-width: clamp(0px, calc(var(--full-width) * 0.3), 120px);
}
/* html{
  height:100%;
}
body{    
  height:100dvh;
} */
html,body{
  height: 100%;  
  height: 100dvh;
  padding: env(safe-area-inset);

  /* scroll-padding-bottom: 64px;   */
}

body.hidescroll{
  overflow:hidden;
}

html{
  scroll-snap-type: y mandatory; /* 📌 스냅 스크롤 유지 */
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: 58px;
}

body{
  margin:0 auto !important;
  max-width:var(--full-width) !important;
}

.safe-area-container {
  padding-top: var(--safe-area-inset-top);
  padding-bottom: var(--safe-area-inset-bottom);
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
  height: calc(100vh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.full-width-size {
  width: var(--full-width);
  margin-left: 0;
  margin-right: 0;
}

.second-width-size {
  width: var(--second-width);
  margin-left: 16px;
  margin-right: 16px;
}

.third-width-size {
  width: var(--third-width);
  margin-left: 16px;
  margin-right: 16px;
}

/* @media (max-width: 1366px) {
  :root {
    --full-width: 100%;
  }
} */


/* @media (prefers-color-scheme: dark) {
  :root {    
    --background: var(--background-fill-dark-theme);
    --background-primary: var(--background-fill-dark-theme-primary);
    --background-secondary: var(--background-fill-dark-theme-secondary);
    --background-tertiary: var(--background-fill-dark-theme-tertiary);
 
    --foreground: #ededed;
  }
} */

/* @font-face {
  font-family: 'Lato';
  src: 
  url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {  
  touch-action: manipulation; /* 더블탭 줌 방지*/
  touch-action: pan-x pan-y;  /* 핀치 줌 방지*/
  
  user-select: none;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC' ;
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


.blackIcon{
  filter: var(--black-icon-filter);
}

h1, h2, h3, h4, h5, h6
{
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Lato', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC';
}

