/* 부모 컴포넌트 .body */
.body {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: auto;   /* 넘칠 경우 스크롤바가 나타나도록 설정 */
  max-width: 402px;  /* 필요 시 차트의 크기에 맞게 조정 */
  margin: 0 auto; /* 수평 중앙 정렬 */
}
