
.mySwiper {
  width: 100%;
  height: calc(100%);
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  --swiper-navigation-size: 0px; /* 네비게이션 버튼 크기 제거 (필요 시) */
  --swiper-pagination-bottom: 0px; /* 페이지네이션 여백 제거 */
  background-color: black;
}

.swiperSlide {
  height: 100%;
  margin: 0; /* 슬라이드 간 마진 제거 */
  padding: 0; /* 슬라이드 간 패딩 제거 */
}
