.reelsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
}


.mainContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressBar {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1.66px; /* 프로그레스 바 높이 */
  background-color: rgba(255, 255, 255, 0.3); /* 배경색 */
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: var(--background); /* 흰색 진행도 */
  transition: width 0.2s ease; /* 부드러운 진행 애니메이션 */
}
.playCircleIcon {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 기본적으로 숨김 상태 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* 부드러운 전환 효과 */
}

.fadeAndGrow {
  animation: fadeAndGrow 0.3s ease forwards;
}

@keyframes fadeAndGrow {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.Image {
  width: 100%;
  height: 100%;   
  object-fit: contain;
  
}

.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.3) 90%);
}

.pauseButton {
  position: absolute;
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userInfo {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 80px;
  left: 16px;
  gap: 10px;
}

.profilePicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--background);
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.username {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.sponsored {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.followButton {
  padding: 4px 8px;
  background: #000000;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background-color: #00000000;
  color: #FFFFFF;
}

.description {
  position: absolute;
  bottom: 60px;
  left: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

.videoInfo {
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

.ctaButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  bottom: 120px;
  right: 13px;
  z-index: 10;
  
}

.textButtons
{
  color: var(--base-white, #FFF);
text-align: center;
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 30px rgba(4, 4, 21, 0.80);
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 150% */

}

.noneTextButton
{
  color: var(--base-white, #FFF);
text-align: center;
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 30px rgba(4, 4, 21, 0.80);
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 150% */
}

.button
{
  width: 28px;
  height: 28px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 10px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
  /* box-shadow: 5px 5px 20px black; */  
}
