.reel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
  justify-content: center;
}

.box_group {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.image_scroll_container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}


.post_image {
  width: 100%;  
  object-fit: cover;
  scroll-snap-align: center;
}

.image_index {
  display: flex;
  justify-content: center;
  gap: 5px; /* 원 사이 간격 */
  font-size: 24px; /* 원 크기 */
  color: white;
}

.dot {
  font-size: 18px;  /* 점들의 크기 */
  padding: 0 0px;  /* 점들 사이의 간격을 padding으로 조절 */
  color: black;
  transition: color 0.3s ease;
}

.dot.active {
  color: rgb(0, 0, 0); /* 활성화된 점의 색상 */
}

.post_icons {
  display: flex;
  justify-content: flex-start;
}

.post_details {
  margin-top: 10px; /* 이미지 아래에 여백 추가 */
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.post_text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 기본적으로 3줄까지만 보이도록 설정 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post_text.expanded {
  -webkit-line-clamp: unset; /* expanded 상태일 때 제한 해제 */
}

.post_link a {
  color: #0095f6;
  text-decoration: none;
}

.post_link a:hover {
  text-decoration: underline;
}

.top_box
{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
}

.info_box
{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-left: 15px;
}

.typo_type1
{
  font-size: 17px;
  font-weight: bold; 
  color: black;
}

.typo_type2
{
  font-size: 12px;
  color: gray;
}

.typo_type3
{
  font-size: 15px;
  color: gray;
}
.customIcon1 {
  font-size: 40px;
}