
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 20px;
    width: 100%;
    background: var(--White);
    border-bottom: 1px solid var(--White);
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .userInfo {
    display: flex;
    gap: 8px;
    align-content: center;
    align-items: center;
    
    
  }
  .username {
    height: 18px;
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 11px;
    color: var(--Black);

line-height: 150%; /* 16.5px */
letter-spacing: -0.027px;
display: flex;
flex-wrap: wrap;
align-content: center;
    align-items: center;
justify-content: center;
justify-items: center;
  }
  
  .time {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 12px;
    color: #6d7681;
  }
  
  .commentText {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--Black);
  }
  
  .actions {
    display: flex;
    gap: 40px;
  }
  
  .actionItem {
    display: flex;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(0%) sepia(56%) saturate(7437%) hue-rotate(55deg) brightness(85%) contrast(113%);
    gap: 4px;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
  
  .iconLike,
  .iconDislike,
  .iconReply {
    width: 16px;
    height: 16px;
    background: #dadce0;
    border-radius: 3px; /* Optional */
  }
  
  .actionText {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 10px;
    color: #6d7681;
  }
  
  .menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  
  .menuDots {
    width: 4px;
    height: 4px;
    background: #5f6368;
    border-radius: 50%;
    position: relative;
  }
  
  .menuDots::before,
  .menuDots::after {
    content: "";
    width: 4px;
    height: 4px;
    background: #5f6368;
    border-radius: 50%;
    position: absolute;
    left: 0;
  }
  
  .menuDots::before {
    top: -6px;
  }
  
  .menuDots::after {
    top: 6px;
  }
  

  .commentCount
  {
    overflow: hidden;
color: var(--Primary-1, #FD55D3);
font-feature-settings: 'ss10' on;
text-overflow: ellipsis;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 19.5px */
letter-spacing: -0.032px;
cursor: pointer;
  }