.reel {
    scroll-snap-align: center; /* 각 콘텐츠가 중앙에서 스냅됨 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* 개별 콘텐츠가 화면 전체 높이를 차지 */
    padding: 20px 0;
    color: rgb(255, 255, 255);
  }
  
  .box-group {
    background-color: yellow;
  }
  
  .post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-image {
    width: 100%;
    height: 100%; /* 이미지가 화면을 꽉 채움 */
    max-height: 60vh;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .post-icons {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    width: 100%;
  }
  
  .post-icons-space {
    flex-grow: 1; /* 아이콘 사이의 공간을 차지 */
  }
  
  .post-details {
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .post-text {
    color: #fff;
  }
  
  .post-link a {
    color: #0095f6;
    text-decoration: none;
  }
  
  .post-link a:hover {
    text-decoration: underline;
  }
  