.reel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.box-group {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.image-scroll-container {
  display: flex;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  scroll-snap-type: x mandatory; /* 스크롤 스냅 적용 */
  gap: 10px; /* 이미지 사이 간격 */
}

.post-image {
  flex: 0 0 auto;
  width: 100%; /* 이미지가 부모 컨테이너에 맞게 채워짐 */
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center; /* 이미지가 스크롤할 때 중앙에서 멈추도록 설정 */
}

.post-icons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}

.post-details {
  position: absolute;
  bottom: 60px;
  left: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 1;
}

.post-text {
  color: #fff;
}

.post-link a {
  color: #0095f6;
  text-decoration: none;
}

.post-link a:hover {
  text-decoration: underline;
}
