
.errorContainer {  
    margin: 0  auto;
      
      
    width: var(--second-width);
      z-index: 5000; /* Drawer 위에 표시되도록 높은 z-index 설정 */
  }
 

    .errorMessage {
      background: #f75555;
      border-radius: 12px;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .errorIcon {
      width: 24px;
      height: 24px;
      background: var(--background);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .errorText {
      font-family: "Lato";
      font-size: 12px;
      font-weight: 600;
      color: #ffffff;
      line-height: 20px;
    }
    