.box {
  display: flex;
  flex-direction: column;  
  
  align-self: flex-start;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
}
 