
.parent
{
  display: flex;
  flex-direction: column;
  height: 100dvh; 
  width: 100%;
  overflow: hidden;
}
.dashBoard{
  display: flex;
  width: 40px;
  height: 40px;
  padding: 9px;
  justify-content: center;
  align-items: center;

  position:relative;  

}
.container
{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 100%;
  padding: 0 16px 0 16px;
  margin-bottom: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.textInput
{
  width: 100%;
  justify-self: start;
}

.dashBoardIcon{
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  filter: brightness(0) saturate(100%);
}
.confirmButton {
  position: fixed;
  bottom: 43.25px;
  left: 50%;    
  transform: translate(-50%, 0%);
  width: calc(100% - 28px);
  height: 50px;
  background: #2c3131;
  color: #ffffff;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;    
}
.label 
{    
  align-self: flex-start;
  color: var(--Neutral-900, #040415);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.4px;
}

.previewLabel
{
    align-self: flex-end;
font-weight: 700;
font-size: 16px;
line-height: 24.8px;
letter-spacing: 0%;

}


.grayLabel
{
    align-self: flex-start;
    color: var(--Neutral-500, #9AA0A6);
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 18.6px */
}

.radioButtonGroup
{
  align-self: flex-start;
  display: flex;
  gap: 24px;

}

.blackTag
{
display: flex;
height: 36px;
padding: 10px 18px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 100px;
border: 1px solid var(--Border-1, #EAECF0);
background: var(--Neutral-800, #2C3131);
color: #ffffff;
}
.lineClose
{
filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(157deg) brightness(102%) contrast(101%);
width: 12px;
height: 12px;
}

.blackTagContainer {
display: flex;
align-self: flex-start;
flex-wrap: wrap;
gap: 8px;
}

.tags{
display: flex;
flex-direction: column;
align-self: flex-start;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
    padding: 14px 12px;
    gap: 6px;
  
    width: 370px;
    height: 46px;
  
    background: #f8f9fa;
    border: 1px solid #e8eaed;
    border-radius: 10px;
  }
  
  .text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.4px;
    color: #000000;
  }
  
  .infoGroup
  {
    width: 370;
    height: 76;
    gap: 2px;

    display: flex;
    flex-direction: column;
    
    align-self: flex-start;
    
  }


  .seasonLabel
  {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.4px;
    
  }

  .epLabel{
    font-weight: 500;
    font-size: 14px;
    line-height: 21.7px;
    letter-spacing: 0%;
    
  }

  .tokenLabel
  {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: -0.4px;
    color: var(--Neutral-700);
  }
  
  .moenetization
  {
    display: flex;    
    align-self: flex-start;
    gap: 4px;
  }

  .questionButton
  {
    width: 20px;
    height: 20px;
  }

  .questionimg
  {
    width: 18px;
    height: 18px;
  }


  .salesStar
  {
    
    display: flex;
    height: 24px;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .salesStarSetting
  {
    width: 60px;
    height: 24px;
    gap: 10px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 999px;
background-color: var(--Neutral-100);
color: var(--Neutral-400);
font-family: Lato;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
align-content: center;
justify-content: center;
justify-self: center;
justify-items: center;


  }

  .videoUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    background-color: var(--Neutral-50);
    padding: 16px 16px;
  }
  
  .videoUploadBox {    
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #e8eaed;
    border-radius: 4px;
    background: var(--Neutral-100, #F1F3F4);
    color: var(--Black, #000);
text-align: start;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 20.15px */
overflow: auto;
  }
  .countryUploadBox
  {
    
    display: flex;
    padding: 10px 12px;
    
    
    gap: 6px;
    align-self: stretch;
    border-radius: 10px;
border: 1px solid var(--Neutral-200, #E8EAED);
background: var(--White, #FFF);
text-align: start;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 20.15px */
justify-content: space-between;
  }
  .lineArrowDown
  {
    filter: brightness(0) saturate(100%) invert(55%) sepia(16%) saturate(135%) hue-rotate(165deg) brightness(92%) contrast(91%);
    width: 20px;
height: 20px;
aspect-ratio: 1/1;
cursor: pointer;
  }
  .videoButtonContainer {    
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    
  }
  
  .uploadButton,
  .deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 49.5%;
    height: 40px;
    border: 1px dashed #bdc1c6;
    border-radius: 6px;
    background: #ffffff;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    filter: brightness(0) saturate(100%)
  }
  
  .subtitleContainer,
  .dubbingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .addButton {
    width: 60px;
    height: 24px;
    background: #000000;
    border-radius: 999px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
  }

  .uploadGroup
  {
    display: flex;
padding: 5px;
flex-direction: column;
align-items: flex-end;
gap: 5px;
align-self: stretch;
border-radius: 10px;
background: var(--White, #FFF);
  }
  
 
  .circleClose
  {
    width: 18px;
    height: 18px;
  }

  .arrowButton
  {
    filter: brightness(0) saturate(100%)
  }

  .fileList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .fileItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
  }
  
  .fileItem:hover {
    background-color: #f0f0f0; /* 마우스 호버 시 */
  }
  
  .selected {
    background: var(--Neutral-200, #E8EAED)  !important;
  }
  
  .fileName {
    flex-grow: 1;
    font-size: 14px;

    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

  }
  
  .deleteIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 8px;
  }
  .videoUploadBoxError {
    border: 1px solid var(--Primary-2, #FEBBEA);
    background: var(--Primary-4, #FFF5FD);
  }