.galleryContainer {
  display: flex;
  width: 370px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;

  margin-top: 15px;
margin-left: 16px;
margin-right: 16px;

  flex-wrap: wrap;
}

.addImageButton {
  
  cursor: pointer;
  
  width: 179px;
  height: 259.172px;
  flex-shrink: 0;

  border-radius: 12px;
  background:  lightgray 50% / cover no-repeat;

}

.emptyMessage
{
  margin-top: 48.19px;
}