.gridContainer {
  display: flex;

  margin-top: 28px;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100vw - 32px);
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;

  /* /* flex: 1; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  */
  overflow-y: auto;
}
  

@media (min-width:402px)
{
  .gridContainer {
    width: 370px;

  }
}