.galleryItem {  
  position: relative;
  cursor: pointer;
  
  
  width: calc(var(--second-width) * 0.5 - 6px);
  max-width: 179px;
  height: 260px;
  flex-shrink: 0;

  border-radius: 12px;
  background:  lightgray 50% / cover no-repeat;
  border-radius: 12px;
  border: 1px solid var(--Neutral-200, #E8EAED);
}
 
.selectedIcon 
{
  position: absolute;

  width: 60px;
  height: 60px;
  flex-shrink: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}