.galleryContainer {
  display: flex;
  width: calc(100vw - 32px);
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;

  margin-top: 15px;
margin-left: 16px;
margin-right: 16px;

  flex-wrap: wrap;

  overflow-y: scroll;

}
@media (min-width:402px)
{
  .galleryContainer  {
    width: 370px;

  }
}

.galleryContainer::-webkit-scrollbar {
  display: none;  
}

.galleryContainer {
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}

.addImageButton {
  
  cursor: pointer;
  
  width: calc((100vw - 32px - 12px) * 0.5);
  height: 259.172px;
  flex-shrink: 0;

  border-radius: 12px;
  background:  lightgray 50% / cover no-repeat;

}

@media (min-width:402px)
{
  .addImageButton  {
    width: 179px;

  }
}

.emptyMessage
{
  margin-top: 48.19px;
}