.modalContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    background-color: var(--mui-palette-background-paper); /* MUI Theme Variable */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
  }

  
.container {
    position: relative;
    max-width: '500px';
    margin: 0 'auto';
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: auto; 
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;       
    max-width: 500px;
  margin: 0 auto; /* 수평 중앙 정렬 */
    background-color: #f9f9f9;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }
  
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: none;
  }
  