.gridItem {
    position: relative; 
    cursor: pointer; 
 
    width: calc(var(--second-width) * 0.5 - 6px);
    max-width: 179px;
    height: 303px;

    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 12px;

    border: 1px solid var(--Neutral-200, #E8EAED);
    overflow :hidden;
  }
   
    
  .statusOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px;
    z-index: 1;
    text-align: center;
  }

  .hide
  {
    display: none;
  }
  
  .characterImage {
    position: relative;
    height: 257.143px;
    align-self: stretch;
    background: lightgray 50% / cover no-repeat;
  } 

  .selectedIcon 
  {
    position: absolute;

    width: 60px;
    height: 60px;
    flex-shrink: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .characterInfo {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
  }
  
  .genderIcon {
    font-size: 20px;
  }
  
  .characterName {
    align-self: stretch;
    color: var(--Primary-Neutral-500, #111);

    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
  }

  .monetizationLabel {
    display: flex;
    padding: 1px 6px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    font-family: 'Lato';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
  }
  
  .original {
    border-radius: 4px;
    border: 1px solid var(--Primary-1, #FD55D3);
    background: var(--Primary-1, #FD55D3);
    color: var(--White, #FFF); 
  }

  .fan {
    border-radius: 4px;
    border: 1px solid var(--Primary-1, #FD55D3);
    color: var(--Primary-1, #FD55D3);
  }
