.galleryItem {  
  position: relative;
  cursor: pointer;
  
  width: calc((100vw - 32px - 12px) * 0.5);
  height: 259.172px;
  flex-shrink: 0;

  border-radius: 12px;
  background:  lightgray 50% / cover no-repeat;
  border-radius: 12px;
  border: 1px solid var(--Neutral-200, #E8EAED);
}

@media (min-width:402px)
{
  .galleryItem  {
    width: 179px;

  }
}
 
.selectedIcon 
{
  position: absolute;

  width: 60px;
  height: 60px;
  flex-shrink: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}