.createContainer
{
    display: flex;
    flex-direction: column;
    gap: 14px;
 
}

.lorebookDesc
{

}

.title2
{

}

.addButton
{
    cursor: pointer;
    
    width: 100%;
    display: flex;
    padding: 13px 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0; 
    
    border-radius: 10px;
    border: 1px dashed var(--Neutral-400, #BDC1C6);
    background: var(--White, #FFF);
}

.addIcon
{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;

    filter: var(--black-icon-filter);
}

.addButtonText
{
    color: var(--Black, #000);
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 20.15px */
}

.lorebookItemList
{
    display: flex;
    flex-direction: column;
    gap: 14px;

    height: 40vh;

    overflow-y: scroll;
}

.lorebookItemList::-webkit-scrollbar {
    display: none;  
}
  
.lorebookItemList {
    scrollbar-width: none;  
    -ms-overflow-style: none;  
}

.lorebookItem
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;

}

.deleteArea
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.deleteButton
{
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    
    border-radius: 20px;
    background: var(--Neutral-400, #BDC1C6);
}

.deleteIcon
{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    rotate: 45deg;

    filter: var(--black-icon-filter);
}

.itemInputArea
{
    display: flex;
    padding: 10px 12px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    
    border-radius: 10px;
    border: 1px solid var(--Neutral-200, #E8EAED);
    background: var(--White, #FFF);    

}

.itemInput
{
    width: 100%;
    border: none;
}

.itemTitle
{
    color: var(--Neutral-800, #2C3131);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; 
}

.itemInput
{
    color: var(--Neutral-800, #2C3131);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
    min-height: 50px;
    resize: none;  
}

.itemInput::-webkit-scrollbar {
    display: none;  
}
  
.itemInput {
    scrollbar-width: none;  
    -ms-overflow-style: none;  
}

.buttonArea
{
    position: fixed;
    width: var(--second-width);
    bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.bottomButton
{
    width: calc(50% - (8px * 0.5));

}