.promptInput
{
    position: relative;

    overflow: visible;
}

.promptInputList
{
    flex: 1 0 0;
    width: 100%;

}

.promptInput
{
    width: 100%;
    min-height: 110px;
    max-height: 257px;

    color: var(--Neutral-900, #121414);
    font-feature-settings: 'liga' off, 'clig' off; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
    letter-spacing: -0.4px;
}
.promptInput span {
    margin-bottom: 4px; /* Enter 입력 시 줄 간격 */
}

.promptInput:focus {
    outline: none; 
}
  
.promptInput:focus-visible {
    outline: none;  
}

.textExist
{
    color: var(--Neutral-900, #121414);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 120% */
    letter-spacing: -0.4px; 
}

.fixedPrompt
{
    color: green;
}

.chip { 
    display: inline-flex;
    height: 24px;
    padding: 10px 12px;
    margin-left: 6px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    border-radius: 100px;
    border: 1px solid var(--Border-1, #EAECF0);
    background: var(--Neutral-50, #F8F9FA);
    
    color: var(--Neutral-800, #2C3131);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 100% */
    

    cursor: pointer;
  } 

  .chipcharacter
  {
    border-color: var(--Colors-Orange, #FF9500); 
    color: var(--Colors-Orange, #FF9500); 
  }
  
  .chipuser
  {
    border-color: var(--Primary-1, #FD55D3); 
    color: var(--Primary-1, #FD55D3); 
  }
  

.promptInput[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);  
    color: #999;
    /* position: absolute; */
    left: 8px;
    pointer-events: none;
    word-wrap: break-word;  
    white-space: normal; 
    pointer-events: none;
  }
  
  .placeholderVisible:before {
    content: attr(data-placeholder); /*  Placeholder 표시 */
    color: #999;
    /* position: absolute; */
    left: 8px; 
    word-wrap: break-word; 
    white-space: normal;  
    pointer-events: none;
  }