.box {
  display: flex;
  flex-direction: column;
  
  width: var(--full-width);
  margin: 0 auto;
  position: relative;
  height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  gap: 8px;
  width: var(--second-width);
  box-sizing: content-box;
  height: auto;
  padding: 12px 16px 12px 16px;
  overflow-y: scroll;
  margin-bottom: 70px;
  
}

.label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.desclabel 
{    
  align-self: flex-start;
  color: var(--Neutral-900, #040415);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.4px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 4px;
  width: 100px;
  height: 100px;
  background: var(--background);
  border: 1px dashed #bdc1c6;
  border-radius: 10px;
  cursor: pointer;
}

.uploadIcon {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%);
}

.hintText {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.inputArea {
  width: 100%;
  position: relative;
}

.textArea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #bdc1c6;
  border-radius: 10px;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  resize: none;
}

.infoText {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #9aa0a6;
}
.charCount {
  position: absolute;
  bottom: 10px;
  left: 12px;
  font-family: 'Lato';
  font-size: 12px;
  color: #9aa0a6;
  color: var(--Neutral-500, #9AA0A6);
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 18.6px */
}

.contentBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 16px;
  gap: 10px;

  position: fixed; /* position을 fixed로 변경 */
  width: var(--full-width);
  height: 70px;
  
  bottom: 0px;
}

.setupButtons { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  gap: 4px;

  width: var(--second-width);
  height: 50px;

  background: #2C3131;
  border-radius: 10px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.4px;

  color: #FFFFFF;
}

.deleteButton {
  position: absolute;
  top: 0px;
  right:0px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 5.33px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mediaVideo
{
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  
  background-color: #000000;
}

.textInput
{
  width: 100%;
}

.radioButtonGroup
{
  align-self: flex-start;
  display: flex;
  gap: 24px;

}

.blackTag
{
display: flex;
height: 36px;
padding: 10px 18px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 100px;
border: 1px solid var(--Border-1, #EAECF0);
background: var(--Neutral-800, #2C3131);
color: #ffffff;
}
.lineClose
{
filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(157deg) brightness(102%) contrast(101%);
width: 12px;
height: 12px;
}

.blackTagContainer {
display: flex;
align-self: flex-start;
flex-wrap: wrap;
gap: 8px;
}

.tagContainer{
display: flex;
flex-direction: column;
width: 100%;
box-sizing: border-box;
gap: 8px;
}

