/* ChatMessageMenu.module.css */
.chatBubble
{
  position: relative;
}
.mySwiper {
  width: 300px; /* 카드 크기 */
  height: 400px;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper3 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
}

.topMenuContainer {
    position: absolute; 

    z-index: 15;  
    justify-self: flex-end;
    align-items: center; 
    bottom: 100%;
    padding: 0px; 
  }
  
  .bottomMenuContainerUser {
    position: absolute;
    display: flex;

    z-index: 15;

    width: 160px;
    top: 100%;

    margin-top: 12px;
    margin-right: 12px;
    
    flex-direction: column;
    justify-items: center;
    justify-self: flex-start;
    align-items: center;
    padding: 0px;
    background: var(--background);
    border-radius: 10px;
  }
  
  .bottomMenuContainerUserShort {
    position: absolute;
    display: flex;

    z-index: 15;

    width: 160px;
    top: 100%;
    right: 0%;

    margin-top: 12px; 
    
    flex-direction: column;
    justify-items: center;
    justify-self: flex-start;
    align-items: center;
    padding: 0px;
    background: var(--background);
    border-radius: 10px;
  }
  
  .bottomMenuContainerAI {
    position: absolute;
    display: flex;

    z-index: 15;

    width: 160px;
    top: 100%;

    margin-top: 12px;
    
    flex-direction: column;
    justify-items: center;
    justify-self: flex-end;
    align-items: center; 
    padding: 0px;
    background: var(--background);
    border-radius: 10px; 
  }
  
  .bottomMenuContainerAI.leftEdge {
    left: 0;
    transform: translateX(0);
    margin-left: 40px;
  }

  .bottomMenuContainerAI.rightEdge {
    right: 0;
    transform: translateX(0);
  }

  .iconButton {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  
  .actionButton {
    cursor: pointer;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;

    border-bottom: 1px solid #EAECF0;

    flex: none;
    order: 1;
    align-self: stretch;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%; 
    letter-spacing: 0.2px;

    color: #000000;
  }
  
  .actionButtonDelete {
    cursor: pointer;

    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%; 
    letter-spacing: 0.2px; 
    color: #F75555;
  }
      

  .actionButtonLast {
    cursor: pointer;

    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
     
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.2px;
    
    color: #000000;
  }
      