.levelModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #EFEFEF;
  height: 100%;
}

.rewardPreviewArea {
    width: 100% ;
    display: flex;
    padding: 0px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
 

.rewardItemArea {
    display: flex; 
    padding: 14px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    border-radius: 10px;
    background: var(--White, #FFF);
    box-sizing: border-box;
}

.rewardItemArea.rewardBorder {  
    flex: 0.3 0 0;
} 
.swiperContainer
{
    display: flex;
    flex-direction: column;
 
    margin-top: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;
    
    gap: 12px;
}

.rewardSwiper
{
    width: 100%;

} 

.rewardSwiperItem
{
    display: flex;
    flex-direction: column;
    
    width: 100%; 
    justify-content: center; 
    align-items: center; 

    gap: 4px;    
}
.rewardBorderWrapper
{
    align-items: center;
    justify-content: center;
}

.rewardSwiperItemImage
{
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1; 
    border-radius: 999px; 
}

.rewardBorderPagination {
    position: relative !important;
    bottom: 0px !important;  
    width: auto !important;
    display: inline-flex;  
}

.rewardBubblePagination {
    position: relative !important;
    bottom: 0px !important;  
    width: auto !important;
    display: inline-flex;  
}
.swiper-pagination-bullet {
    background: #ddd;
    opacity: 0.8;
  }

.rewardItemArea.rewardChattingBubble { 
    flex: 0.7 0 0;
}

.bubbleSample
{
    display: flex;
    width: 170px;
    max-width: 260px;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start; 

    border-radius: 0px 12px 12px 12px;
    
    backdrop-filter: blur(7.5px);

    color: var(--White, #FFF); 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.levelGuageContainer
{
    display: flex;
    padding: 10px 0;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}