.swiperContainer
{
    margin-top: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 11px;
    align-self: stretch;

}

.swiperItem
{
    justify-content: center; 
    align-items: center;
    width: var(--second-width);
    height: 100px;    
}
 

.backImage
{
    width: var(--second-width);
    height: 100px;
    flex-shrink: 0;
    
    margin: 0 auto;
    border-radius: var(--radius-md, 10px);
    background: lightgray 0px -335.272px / 100% 740% no-repeat;
}

 

.swiper-pagination {
  bottom: 16px; /* Swiper 하단에 위치 */
}

.swiper-pagination-bullet {
  background: #ddd;
  opacity: 0.8;
}

.textArea
{
    padding-left: 17px;
    padding-top: 21px;
}

.text
{
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.4px;
}
.text.type1
{
    font-weight: 700;

}

.text.type2
{
    font-weight: 500;
}