.swiperContainer
{
    width: 100%;
    margin-top: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;

}

.swiperItem
{
    justify-content: center; 
    align-items: center; 
    
    width: calc(100% - 32px);
    max-width: 416px;  /* 최대화면 기준 416px */ 
    height: 110px;    
    color: red;

    @media (max-width: 431px) {
        height: 100px;       
    }
}

.swiper-pagination {
    background-color: #333;
    padding: 2px;
  }

.customSwiper {
    position: relative;
  }

.customPagination {
    position: absolute;
    bottom: 15px !important;
    left: 50% !important;
    translate: -50%;
    width: auto !important;
    display: inline-flex;  
}


.backImage
{ 
    width: 100%;  
    height: 100%;
    flex-shrink: 0;
    
    /* margin: 0 auto; */
    border-radius: var(--radius-md, 10px);
    background: lightgray 0px -335.272px / 100% 100% no-repeat contain center;
}

 .paginationBullet
 {
    width: 6px;
    height: 6px;
    background: #ddd; 
 }

 /* .paginationBullet.notSelected
 {
    opacity: 0.8 !important;
 }
 .paginationBullet.selected
 { 
    opacity: 1 !important;
 } */


.swiper-pagination-bullet {
  background: #ddd;
  opacity: 0.8;
}

.textArea
{    
    justify-items: center;    
    align-content: center;
    width: 100%;
    height: 100%;
}

.text
{
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.4px;
}
.text.type1
{
    font-weight: 700;

}

.text.type2
{
    font-weight: 500;
}

.curFirstImage {
    position: absolute;
    right: -6px;
    width: 10px;
    height: 140px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: auto 100%;        
    background-position: left center;   
  
    flex-shrink: 0;
    border-top-left-radius: var(--radius-md, 10px);
    border-bottom-left-radius: var(--radius-md, 10px);
  }