.searchBoard> .tags
{
  display: flex;
  align-items: center;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */

  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  top: 0;

  background-color: white;

  z-index: 2;
}

.searchBoard> .tags::-webkit-scrollbar
{
  display: none;
  /* Webkit 브라우저 (Chrome, Safari) */
}

.chip
{
  margin-right: 10px;
  min-width: 100px;
  text-transform: none;
  white-space: nowrap;
  font-variant: "outlined";
  color: "primary";
  margin: '0 4px';
}


.searchBoard> .search
{
  justify-content: space-between;
  display: flex;
  padding: 10px;
  width: 100%;
  height: inherit;
}

.searchBoard> .search >.input
{
  width: 60%;
  font-size: 18px;
}

.searchBoard> .search >.nsfwToggle
{
  display: flex;
  align-items: center;
  width: 30%;
  height: 70px;
}