.topNavigation{
    position: absolute;

    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
 
    height: 6.63vh;    
    
    z-index: 10;  
    padding-top: 2.2vh;
    gap: 2.48vw; 
    
    max-width: 500px;
}

@media (min-width: 500px) {
    .topNavigation {         
        padding: 0px;
        gap: 10px; 
    }
}
 

.left {
    display: flex;
    height: 100%;
    padding: 1.6vh 0px 1.6vh 3.96vw;
    
    align-items: center; 
    align-self: center;
    justify-self: center;
}

@media (min-width: 500px) {
    .left {
        padding: 14px 0px 14px 16px; 
    }
}

.left > .button
{
    width: 10vw;
    height: 10vw; 
    
    align-self: center;
    justify-self: center;
}

@media (min-width: 500px) {
    .left > .button {
        max-width: 40px;
        max-height: 40px;
    }
}
 
.left > .button > .buttonImage{
    width: 10vw;
    height: 10vw;
    
    max-width: 40px;
    max-height: 40px;

    align-self: center;
    justify-self: center;
}

@media (min-width: 500px) {
    .left > .button > .buttonImage{    
        max-width: 40px;
        max-height: 40px;
    }
}

.chat {
    display: flex;
    align-items: center;
    gap: 1.7vw;
    flex: 1 0 0; 
}


@media (min-width: 500px) {
    .chat {
        gap: 7px;
    }
}


.chat > .textArea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.textArea > .contentName{    
    max-width: 49vw;
    
    color: var(--White, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */

    overflow: hidden;  
    text-overflow: ellipsis; 
    white-space: nowrap;  

}

.textArea > .episodeName{ 
    max-width: 49vw;

    color: var(--Neutral-400, #BDC1C6);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */

    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.topButtonBox {
    display: flex;
    align-items: center;
}

.topButtonBox > .button{
    display: flex;
    width: 10vw;
    height: 10vw;
    
    max-width: 40px;
    max-height: 40px;
    
    padding: 2vw;

    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .topButtonBox > .button{
        max-width: 40px;
        max-height: 40px;
        
        padding: 8px;
    }
}


.topButtonBox > .button > .buttonImage{
    width: 6vw;
    height: 6vw;
    
    max-width: 40px;
    max-height: 40px;

}


@media (min-width: 500px) {
    .topButtonBox > .button > .buttonImage{
        width: 24px;
        height: 24px;  
    }
}
