.contentMain {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden;
    max-width: 500px;
      margin: 0 auto
  }
  
  .contentHeader {
    height: 15vh; 
  }
  
  .content {
    height: 60vh; 
    overflow-y: auto; 
    
    justify-items: center;
  }
  
  .contentBottom {
    height: 25vh; 
  }
  