.contentHeader {
    height: 58px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ffffff;
    
    padding-left: 16px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
/* or 100% */
display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #000000;



}

.titleContainer {
    display: flex;
    flex-direction: row;
}

.studioButton {
    margin-left: auto; 
    border: 3px solid #000; 
    border-radius: 8px 0 0 8px; 
    padding: 8px; 
    transition: background-color 0.3s; 
}

/* 호버 시 배경색 변경 */
.studioButton:hover {
    background-color: #f0f0f0;
}


.arrowIcon
{

display: flex;
flex-direction: row;
align-items: center;
padding: 14px 0px 14px 16px;
gap: 8px;

position: absolute;
width: 36px;
height: 40px;
left: 0.36px;
top: calc(50% - 40px/2);


}