.workroomItem
{
    width: 100%;
}

.detailViewContainer
{
    display: flex;
    flex-direction: row;

    width: 100%;

    padding: 0px 16px 5px 16px;
    align-items: center;     
}

.detailViewContainer > .fileImage
{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    
    border-radius: 8px;
    background: #FFF;
}

.largeViewContainer
{
    display: inline-flex;
    flex-direction: column;

    width: 100%;

    padding-bottom: 13px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.largeViewContainer > .fileImage
{
     width: 160px;
    height: 160px;
    aspect-ratio: 1/1;

    border-radius: 12px;
    background: #FFF;
}

.fileInfoArea
{
    display: flex;
    width: 100%;
    padding-left: 8px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6px;

}

.infoLeftArea
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;

}

.infoRightArea
{
    width: 20px;
    height: 20px;

}

.fileName
{
    align-self: stretch;
    color: var(--Black, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: 0.14px;
}

.fileDetail
{
    align-self: stretch;
    color: var(--Black, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.18px;

}

.btnMenu
{
    width: 20px;
    height: 20px;

}

.btnIcon
{
    width: 20px;
    height: 20px;

    filter: var(--black-icon-filter);
}