.uploadStateArea
{
    position: fixed;
    bottom:  0;
    right: 4px;
    width: 30%;
    min-width: 300px;
    max-height: 30%;

    display: flex;
    flex-direction: column;
    gap: 10px; 

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    overflow: hidden;

    z-index: 1000;
}

.uploadStateHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color:black;
    padding: 10px;
}

.headerText
{
    color: white;
} 

.headerButtonArea
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.headerButton
{
    cursor: pointer;

}

.headerButton img
{
  /* filter: var(--black-icon-filter); */
}

.uploadStateItemList
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 30px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.uploadStateItemList::-webkit-scrollbar {
  display: none;  
}

.uploadStateItemList {
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}


.uploadStateItem
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoArea
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leftArea
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.itemText
{

}

.itemState
{

}

.rightArea
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.itemButton
{
    cursor: pointer;
}

.itemButton img
{ 
  filter: var(--black-icon-filter);
}
.gaugeArea {
    width: calc(100% - 10px);
    height: 6px;
    background-color: #e0e0e0; /* 회색 배경 */
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
  }
  
  .gaugeBar {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .uploading::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 30%;
    background: linear-gradient(90deg, var(--Primary-1), var(--Primary-2));
    animation: gaugeSlide 3s linear infinite;
    border-radius: 4px;
  }
  
  .uploaded {
    background-color: var(--Primary-1);
    width: 100%;
  }
  
  .failed {
    background-color: var(--Primary-3); 
    width: 100%;
  }
  
  @keyframes gaugeSlide {
    0% {
      left: -30%;
    }
    100% {
      left: 100%;
    }
  }